---
import BookReaderLayout from '../../layouts/BookReaderLayout.astro';
import Books from '../../data/books.json';
import {ReadBook} from "../../solidApps/bookReader/routes";

export async function getStaticPaths() {
    const b = [];
    for (let i=0; i<10; i++) {
        b.push(Books[i])
    }
    return Books.map( (book) => {
        return {
            params: {
                book: book[0]
            }
        }
    });
}

const { book} = Astro.params;

const [_, name, mainUrl, thumbnail, nbPages, fileSize] = Books[parseInt(book+'', 10)];
const title = `Open Free Book - "${name}"`;
const description= `This Library content is free for all. It is certified Safe for Adults, children and plants by datapond. 
"${name}" is free, ${nbPages} pages and the PDF download size is ${fileSize} kB.`

---

<BookReaderLayout title={title} description={description} >

    <div id="book-title">
        <div class="row q-pa-md text-center center self-center text-h6 text-secondary">
            opening the book:
        </div>
        <div class="row q-pa-md text-center center self-center text-h3 text-accent" >
            {name}
        </div>
    </div>

    <ReadBook client:only="solid-js"/>
    <!--<div id="router"></div>-->



    <!--<script >-->
    <!--    import { render } from "solid-js/web";-->
    <!--    import router from '../../solidApps/bookReader/router';-->
    <!--    import {$dq, hideElement} from "../../js/utils";-->
    <!--    render(router, document.getElementById("router"));-->
    <!--    hideElement($dq("#pending_render"))-->
    <!--</script>-->
</BookReaderLayout>