
$bg: #E8B5DB;
$ribbon1: $primary;
$ribbon2:  #FF7F7F;
$ribbon3: #BF7FFF;

aside:before, aside:after {
  height: 0;
  width: 0;
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0;
}


aside {

  margin: 0px 0;
  line-height: 34px;
  position: relative;
  &.ribbon1 {
    background-color: $ribbon1;
    &:after, &:before {
      border-color: transparent $ribbon1;
    }
    &:before {
      left: -20px;
      border-width: 15px 20px 20px 0;
    }
    &:after {
      right: -20px;
      border-width: 15px 0 20px 20px;
    }
  }
  &.ribbon2 {
    background-color: $ribbon2;
    $ribbon2: darken($ribbon2, 10);
    &:before, &:after {
      top: 3px;
    }
    &:before {
      border-color: $ribbon2 $ribbon2 $ribbon2 transparent;
      left: -33px;
      border-width: 17px;
    }
    &:after {
      border-color: $ribbon2 transparent $ribbon2 $ribbon2;
      right: -33px;
      border-width: 17px;
    }
  }
  &.ribbon3 {
    background-color: $ribbon3;
    &:after, &:before {
      border-width: 14px 0 20px 20px;
    }
    &:before {
      border-color: $ribbon3 transparent;
      left: -20px;
    }
    &:after {
      border-color: transparent $ribbon3;
      right: -20px;
    }
  }
}

