.readerNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  width: 100dvw;
}

main {
  top: 3rem !important;
  height: calc(100dvh - 3rem) !important;
  min-height: calc(100dvh - 3rem) !important;
  overflow-x: hidden !important;
}