---

import DesktopMenuWeb from '../components/DesktopMenuWeb.astro';
import MobileMenuWeb from '../components/MobileMenuWeb.astro';

import XIcon from '../img/icons/x.png';
import {Image} from 'astro:assets';
interface Props {
    title: string;
    description: string;
    pubDate: string;
    tags: Array<string>;
    author: string
}
import '../scss/index.scss';
import HubSpotTracker from "../components/HubSpotTracker.astro";
import Page from "../components/Page.astro";
import CommonLayout from "./CommonLayout.astro";
const {title, description, pubDate, tags, author} = Astro.props;
---
<CommonLayout title={title} description={description}>
    <DesktopMenuWeb/>
    <MobileMenuWeb/>
    <main>
        <Page>
            <h6 class="text-info q-my-md text-center text-thinner"><i><u>Published on the {pubDate} by {author}</u></i></h6>
            <slot/>
        </Page>

    </main>
</CommonLayout>
