---
import {generateTopics} from "../js/topics";

import MobileMenuTopic from "../components/MobileMenuTopic.astro";
import { Image } from 'astro:assets';


import {TopicMenu} from "../solidApps/astro/topicMenu";
const topics = generateTopics(1, Astro);

const selectedTagName = "Top Topic";

import {staticLoadActiveTopicIdsFromUrl, mapTag} from "../js/book";

const activeIds: Array<number> = staticLoadActiveTopicIdsFromUrl( Astro);

activeIds.pop()
activeIds.shift();

interface Props {
    title: string;
    description: string;
    bannerTitle:string
}
import '../scss/index.scss';
import CommonLayout from "./CommonLayout.astro";
const {title, description, bannerTitle} = Astro.props;
---
<CommonLayout title={title} description={description}>

    <MobileMenuTopic  topicName={bannerTitle}/>

    <main class="row overflow-hidden">
        <nav id="desktop-nav" class="mobile-hide col-lg-3 col-0 overflow-auto">
            <TopicMenu tags={topics} selectedTagName={selectedTagName} id="desktop-topic-menu" client:load/>
        </nav>
        <div class="col-lg-9 col-12 overflow-hidden " id="bookActivityContainer" style="position:relative;">
            <div class="overflow-auto full-height">
                <div class="row  q-pa-md" tabindex="0">
                    {activeIds.map((tag: any, count:number) =>
                            <div class="col-12 col-md-6 q-pa-md q-mx-xs text-left">
                                <a href={`/topics/${tag._id}`}
                                   id={`back_top_${count}`}
                                   class="outline q-pa-md  fit text-accent text-h6 text-left  bg-blue-grey"
                                   tabindex="-1">
                        <span class="text-left">
                            <i class="las la-backspace"></i>
                            Back to {tag.name}
                        </span>
                                </a>
                            </div>)}
                </div>
                <slot/>
            </div>
        </div>
    </main>
</CommonLayout>
