---
import CommonHead from "./CommonHead.astro";
import Piwik from "./Piwik.astro";
import HubSpotTracker from "../components/HubSpotTracker.astro";


const {title, description, mainClass} = Astro.props;
---


<!DOCTYPE html>
<html lang="en">
<head>
    <CommonHead/>
    <meta name="description" content={description}/>
    <title>{title}</title>
</head>
<body>
    <script>
        import {initBody} from "../js/responsive";
        import {shouldReset} from "@8pond/db";

        initBody;

        // if ("serviceWorker" in navigator) {
        //     console.log('loading service worker')
        //     navigator.serviceWorker.getRegistrations().then(reg=> {
        //         reg.forEach(r => {
        //             r.unregister()
        //         })
        //     });
        // }

        if (shouldReset() && !window.location.pathname.includes("/game/start")) {
            alert('Should reset the initial state');
            window.location.replace("/game/start?reset")
        }

    </script>
    <Piwik/>
    <slot name="before-main"/>
    <main class={mainClass}>
        <slot/>
    </main>
    <slot name="after-main"/>
    <HubSpotTracker/>
</body>
</html>

