---
---

<!--<script type="text/javascript">-->
<!--    console.log('Arn104Init')-->

<!--    const {pathname, hostname, host, protocol} = window.location;-->
<!--    console.log(`hostname: ${hostname} pathname ${pathname} ${protocol} host = ${host}`)-->

<!--    const [subdomain] = hostname.split(".");-->
<!--    console.log(`subdomain `, subdomain)-->

<!--    const base = document.getElementsByTagName("base").item(0);-->

<!--    console.log('Base tag:', base)-->


<!--    if (subdomain.length === 'm3olbwbds2y3u26lvk7hj7embfrdu2gepgwrmspkqpqsslr6pjzq'.length) {-->
<!--        const [_, manifest] = pathname.split("/");-->
<!--        console.log('manifest', manifest)-->
<!--        if (manifest.length === 'DLuXOcXidH8gX_acF6rjFe-YCRe8NXbe71OrL4RvTc4'.length) {-->
<!--            window["ANS104"] = {-->
<!--                bundleId: subdomain,-->
<!--                manifestId: manifest-->
<!--            };-->
<!--            console.log('window[ANS104]=', window['ANS104'])-->

<!--            const newBase = `${protocol}//${hostname}/${manifest}/`-->
<!--            console.log('newBase ', newBase)-->
<!--            base.setAttribute("href", newBase)-->
<!--        }-->
<!--    }-->
<!--</script>-->

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="icon" type="image/x-icon" href="/img/icon2.png">
<link rel="sitemap" href="/sitemap-index.xml"/>

<meta name="generator" content={Astro.generator}/>

<!--<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=66a1a08aa88bfa0019b93a01&product=inline-share-buttons&source=platform" async="async"></script>-->


<!-- Meta Pixel Code -->
<!--<script src="/js/facebook-pageview.js" is:inline/>-->
<!--<noscript>-->
<!--    <img height="1" width="1" style="display:none"-->
<!--         src="https://www.facebook.com/tr?id=1995860060833964&ev=PageView&noscript=1"-->
<!--/></noscript>-->
<!-- End Meta Pixel Code -->
<!--<link href="/css/line-awesome/css/line-awesome.css" rel="stylesheet" />-->