---
import {Image} from 'astro:assets';

import MobileMenuTopic from "../components/MobileMenuTopic.astro";
import '../scss/index.scss';
import CommonLayout from "./CommonLayout.astro";

interface Props {
    title: string;
    description: string;
}

const {title, description} = Astro.props;
---
<CommonLayout title={title} description={description}>
    <MobileMenuTopic topicName={"My study room"}/>

    <main class="row">
        <slot />
    </main>
</CommonLayout>
