---
interface Props {
    title: string;
    description: string;
}
import '../scss/index.scss';
import CommonLayout from "./CommonLayout.astro";
const {title, description} = Astro.props;

---

<CommonLayout title={title} description={description} className="flex center">
    <slot/>
</CommonLayout>