---

import DesktopMenuWeb from '../components/DesktopMenuWeb.astro';
import MobileMenuWeb from '../components/MobileMenuWeb.astro';
import XIcon from '../img/icons/x.png';
import {Image} from 'astro:assets';
interface Props {
    title: string;
    description: string;
}
import '../scss/index.scss';
import CommonLayout from "./CommonLayout.astro";
const {title, description} = Astro.props;
---
<CommonLayout title={title} description={description}>
    <DesktopMenuWeb/>
    <MobileMenuWeb/>
    <main>
        <slot/>
    </main>
    <div class="row overflow-hidden center">
        <nav id="licence" class="col-lg-9 col-12 hidden" tabindex="2">
            <div class="row around">
                <div class="col-4 col-md-3 q-px-sm">
                    <h6 class="text-center">
                        <a href="/d-safe" class="link text-black text-h6">D-Licence</a>
                    </h6>
                </div>
                <div class="col-5 col-md-3 q-px-sm center around ">

                    <a href="https://giveth.io/project/enter-the-library" target="_blank" class="link text-black text-h6">
                        Giveth Fund
                    </a>

                    <a href="" target="_blank" class=" link">
                        <i class="lab la-facebook text-black" style="font-size: 2rem"></i>
                    </a>

                    <a href="" target="_blank" class="link">
                        <Image src={XIcon} alt="X Page" style="width: 2rem;height:2rem;"/>
                    </a>

                </div>
                <div class="col-3 col-md-3 q-px-md">
                    <h6 class="text-center">
                        <a href="/contact" class="link text-black text-h6">Contact</a>
                    </h6>
                </div>
            </div>
        </nav>
    </div>
</CommonLayout>