---
interface Props {
    title: string;
    description: string;
}
import '../scss/index.scss';
import CommonLayout from "./CommonLayout.astro";
import MenuStudy from "../components/MenuStudy.astro";
const {title, description} = Astro.props;
---
<CommonLayout title={title} description={description} classnAME="row study">
    <MenuStudy slot="before-main"/>
    <slot />
</CommonLayout>

