---
import MobileMenuTopic from "../components/MobileMenuTopic.astro";
import {Image} from 'astro:assets';


import {staticLoadActiveTopicIdsFromUrl, mapTag} from "../js/book";

interface Props {
    title: string;
    description: string;
    bannerTitle: string
}

const activeIds: TopicV2[] = staticLoadActiveTopicIdsFromUrl(Astro).map(mapTag);

activeIds.pop()
activeIds.shift();

import '../scss/index.scss';
import {type TopicV2} from "@8pond/interfaces";
import {generateTopicUrl} from "../js/staticUtils";
import CommonLayout from "./CommonLayout.astro";
import {Mobile} from "../solidApps/bookCoverPreview/Mobile";
import {AppReady} from "../solidApps/common_utils/AppReady";
import {ActionCategory} from "@8pond/interfaces";
import {LevelHelp} from "../solidApps/common_utils/LevelHelp";
import {AstroTopic} from "../solidApps/astro/topic";
import {HideLoading} from "../solidApps/common_utils/HideLoading";
import {Tracking} from "../solidApps/common_components/tracking/tracking";
const {title, description, bannerTitle} = Astro.props;
---

<CommonLayout title={title} description={description} mainClass="overflow-auto">

    <MobileMenuTopic topicName={bannerTitle} slot="before-main"/>

    <div class="row  q-pa-md" tabindex="0">
        {activeIds.map((tag: any, count: number) =>
                <div class="col-12 col-md-6 col-lg-4 q-pa-md q-mx-xs text-left">
                    <a href={generateTopicUrl(tag)}
                       id={`back_top_${count}`}
                       class="outline q-pa-md  fit text-accent text-h6 text-left  bg-blue-grey"
                       tabindex="-1">
                                <span class="text-left">
                                    <i class="las la-backspace"></i>
                                    Back to {tag.name}
                                </span>
                    </a>
                </div>)}
    </div>
    <slot/>

    <HideLoading client:only="solid-js">
        <AppReady client:only="solid-js" minimumLevel={1}>
            <Mobile  client:only="solid-js" />
            <LevelHelp client:only="solid-js"/>
        </AppReady>
    </HideLoading>
</CommonLayout>



