
/** New **/


/*


    ul {
        li:nth-child(odd) {
            a {
                background-color: #333333 !important;
            }
        }

        li {
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            margin: 0 !important;
            padding: 0 !important;

            .la-book-reader {
                display: none;
            }
        }

        li.orb {
            .la-book-reader {
                display: flex !important;
            }
        }
    }
 */


  .menu_container {
    @extend .center;
    @extend .flex;
    width: 100%;
    min-height: 100%;
    //background: red;
    i {
      font-size: 2rem;
    }
    .title {
      //@extend .desktop-only;
      @extend .q-my-md;
      @extend .text-h3;
      @extend .text-info;
    }

    ul {
      padding: 0;
      margin: 0;
      width: 100dvw;
      min-height: 100%;

      @extend .row;
      @extend .center;
      li {
        @extend .col-12;
        @extend .col-sm-8;
        @extend .col-md-6;
        @extend .col-lg-4;
        @extend .q-pa-xs;
        a {
          @extend .q-pa-sm;
          @extend .fit;
          @extend .self-center;
          @extend .text-h6;
          display: inline-block !important;
          max-width: 100%;
          min-width: 100%;

          background-color: transparent;
          align-items: start;

          padding-left: 0.6rem;

          i {
            font-size: 1.75rem !important;
          }
          .la-folder-open {
            color: $orange-14;
          }
          &:hover {
            i {
              color: $orange-14;
            }
          }
        }
        &.active {
          display: inline-block !important;
        }

      }
    }
  }



body.tablet {
  .menu_container {
    a {
      font-size: 1.5rem;
      padding-left: 0.6rem;
    }

    i {
      font-size: 2rem;
    }

    ul li {
      div ul li {
        display: none !important;
      }
    }
  }
}

body.tablet-landscape {
  .menu_container {

    i {
      font-size: 2rem;
    }
    li{
      width: 48%;
      margin: 1%;
      display: inline-block;

      a {
        @extend .q-py-lg;
        @extend .fit;
        @extend .self-center;
        display: inline-block !important;
        max-width: 100%;
        min-width: 100%;

        background-color: transparent;
        align-items: start;

        font-size: 1.5rem;
        padding-left: 0.6rem;
      }

      &.active {
        display: inline-block !important;
      }
    }
    ul li {
      div ul li {
        display: none !important;
      }
    }

  }
}

body.mobile {
  .menu_container {
    a {
      font-size: 1.2rem;
      padding-left: 0.6rem;
    }

    i {
      font-size: 2rem;
    }

    ul li {
      div ul li {
        display: none !important;
      }
    }

  }
}