@import "_global.scss";

@keyframes my-scroll-animation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@mixin mul {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;

  li {
    @extend .row;
    @extend .content-center;
    @extend .items-center;
    @extend .q-pl-md;
    background-color: $blue-grey-10;

    &.active {
      @extend .text-primary;
      display: flex !important;

      ul li {
        display: flex !important;
      }

    }

    > a {
      @extend .q-py-lg;
      @extend .fit;
      @extend .self-center;
      max-width: 100%;
      min-width: 100%;

      background-color: transparent;
      align-items: start;

      &:active , &.active {
        @extend .text-primary;
        background-color: $dark;
      }
    }
  }
}



/**Old still in use I think **/
#desktop-nav.menu_container {
  a {
    font-size: 0.9rem ;
    padding-left: 0.4rem;
  }
  i {
    font-size: 2rem;

  }
}
#tabletLandscapeMenu {
  &.menu_container {

    i {
      font-size: 2rem;
    }
    li{
      width: 48%;
      margin: 1%;
      display: inline-block;

      a {
        @extend .q-py-lg;
        @extend .fit;
        @extend .self-center;
        display: inline-block !important;
        max-width: 100%;
        min-width: 100%;

        background-color: transparent;
        align-items: start;

        font-size: 1.5rem;
        padding-left: 0.6rem;
      }

      &.active {
        display: inline-block !important;
      }
    }
    ul li {
      div ul li {
        display: none !important;
      }
    }

  }
}
#tabletMenu.menu_container {
  a {
    font-size: 1.5rem;
    padding-left: 0.6rem;
  }
  i {
    font-size: 2rem;
  }
  ul li {
    div ul li {
      display: none !important;
    }
  }

}

#mobileMenu.menu_container {
  a {
    font-size: 1.2rem;
    padding-left: 0.6rem;
  }
  i {
    font-size: 2rem;
  }
  ul li {
    div ul li {
      display: none !important;
    }
  }

}

#tabletMenu,  #mobileMenu,  #topicIndex {
  width: 100%;
  ul {
    @include mul();
  }
}

#mobileMenu, #tabletMenu {
  ul {
    li {
      ul li {
        display: none;
      }
    }
  }
}

.menu_container {
  a {
    box-sizing: border-box;
  }
}
.desktop-submenu {
  position: fixed;
  top: $navHeight;
  left:0;
  right:0;
  bottom: 0;
  width: 100vw;
  height: calc( 100vh - $navHeight);
  max-height: calc( 100vh - $navHeight);
  overflow: hidden;
  background: $blue-grey-10;
  display: none !important;

  &.active {
    display: block !important;
  }
  z-index: 1000;
  ul {
    @extend .row;
    @extend .justify-around;
    @extend .q-px-xl;
    @extend .center;

    li {
      @extend .col-5;
      @extend .col-lg-4;
      @extend .q-pa-md;
      a {
        @extend .q-pa-md;
        //  @extend .self-stretch;
        //  @extend .stretch;
        //  @extend .text-left;
        @extend .self-center;
        box-sizing: border-box;
        height: 10rem;
        max-height: 10rem;
        border: 3px solid transparent;
        &.active , &:hover {
          background: $dark;
          color: white;
        }
      }
    }
  }
  &.show {
    display: flex;
  }
}

#desktop-topic-menu{
  li {
    ul li {
      display: none !important;
    }
  }
  a {
    font-size: 1.1rem !important;
    margin: 0 !important;
    padding: 0.5rem !important;
    &:hover,&:focus {
      background-color: black ;
      color: white ;
    }
  }
}