*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// https://stackoverflow.com/questions/44378664/rem-based-layouts-zooming-on-chrome-is-inconsistent-px-vs-rem
* { /* Replacing "*" with ".my-element" would probably be better for the rest of your site*/

}