
#licence {
  position: fixed;
  z-index: 12000;
  animation: ease-in;
  background-color: $accent;
  color: black;

  h6 {
    background-color: $accent;
    color: black;
  }

  &.active {
    bottom: 0;
  }
}

@media only screen and (max-width: $breakpoint-xs) {
  #licence {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-sm) {
  #licence {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

// laptop with mdpi
@media only screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
  #licence {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: $breakpoint-md) {
  #licence {
    bottom: 0;
    left: 15%;
    width: 70%;
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  #licence {
    bottom: 0;
    left: 15%;
    width: 70%;
  }
}