
a.topMenuHome {
  font-size: 1.111rem;
}

#desktop-nav {
  height: 100%;
}

/* The side navigation menu */
$funnySidenavBreakpoint : 1439px;


#sidenav {
  height: calc(100vh - $navHeight); /* 100% Full-height */
  max-height: 100vh;
  min-width: 100vw;
  width: 100vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 11000; /* Stay on top */
  top: $navHeight; /* Stay at the top */
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  left: -101vw;
  animation: all 0.5s;

  &.open {
    left: 0;
  }
  @media screen and (min-width: $funnySidenavBreakpoint) {
    //display: none;
  }
}

#lib-menu-toggle-desktop {
  @media screen and (min-width: $funnySidenavBreakpoint) {
    display: none;
  }
}

main {
  position: fixed !important;
  top: $navHeight;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  width: 100vw;
  max-width: 100vw;

  //border: 1px solid yellow;
  height: calc(100dvh - $navHeight );
  max-height: calc(100dvh - $navHeight );
  color: $secondary;
  background: $dark;
  min-width: 100vw;
  min-height: calc(100dvh - $navHeight );

  overflow: scroll !important;
  scrollbar-color: $primary !important;

}

body.desktop {
  main.study {
    top: 0;
    height: calc(100dvh );
    max-height: calc(100dvh );
    min-height: calc(100dvh );
  }
}