.scoreIcon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.333rem;;
    //display: inline-flex;
}

#score-box {
    overflow: hidden;
}

.scoreIcon-Study {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.2rem;;
    margin-right: 0.4rem;;
    //display: inline-flex;
}
