---
import GameLayout from "../../layouts/GameLayout.astro";
import {TronReadingClub} from '../../solidApps/tronReadingClub/index'
import Page from "../../components/Page.astro";
import {config} from "../../solidApps/config/tron";
---
<style>
    .vote-box {
        border: 2px solid #ebebeb !important;
    }
    @media screen and (min-width: 760px) {
        .tron-bg:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.15;
            background-image: url('/img/library_club3.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
</style>
<GameLayout title="Tron Reading Club" description="All the Free books from The Tron community">
    <div class="tron-bg">
        <Page>
            <h1 style="color:red">
                Tron Reading Club
                <a href="https://datapond.earth" class="link text-h5 q-ml-lg" target="_blank">by datapond</a>
            </h1>
            <p>Here is the curated list of book suggestions and statistics from the smart contract <strong>{config.contract.Shasta}</strong>. </p>
            <TronReadingClub client:only="solid-js"/>
        </Page>
    </div>
</GameLayout>