---

import Layout from "../../layouts/Layout.astro";

type Report = [string, string, number, number, number, number];

const reports: Array<Report>  = [
    ["Index Desktop", "/lighthouse_reports/index-desktop.html", 100, 100, 96, 100],
    ["Index Mobile", "/lighthouse_reports/index-mobile.html", 95, 100, 100, 100],
    ["PreGame Desktop", "/lighthouse_reports/pregame-desktop.html", 100, 91, 96, 100],
    ["PreGame Mobile", "/lighthouse_reports/pregame-mobile.html", 95, 92, 96, 100],
    ["Vision Mobile", "/lighthouse_reports/vision-mobile.html", 94, 97, 96, 91],
    ["Dsafe Mobile", "/lighthouse_reports/dsafe-mobile.html", 96, 97, 96, 100],
]
---

<Layout title="Light house reports" description="Access DataPond lighthouse reports - 100% fast and accessible">

    <div class="row center">
        <h1 class="text-center">Lighthouse report - May 8th 2024</h1>
        <p><a href="https://github.com/GoogleChrome/lighthouse"  target="_blank" class="link">More about lighthouse</a></p>
    </div>
    <div class="row center">
        <div class="col-lg-6 col-12">

            <ul class="full-width flex">
                {reports.map(([label, link, performance, a11y, practices, seo]) =>
                    <li>
                        <a class="link" href={link} target="_blank">
                            <h6>{label}</h6>


                            <div  class="text-positive">
                                <strong>{performance}%</strong>
                                performance
                            </div>
                            <div  class="text-positive">
                                <strong>{a11y}%</strong>

                                Accessibility
                            </div>
                            <div  class="text-positive"><strong>{practices}%</strong> Best Practices</div>
                            <div  class="text-positive"><strong>{seo}%</strong> SEO</div>
                        </a>
                    </li>
                )}
            </ul>

        </div>
    </div>

</Layout>