@import "../flex/index";

.choices {
  .active {
    background-color: #36221c;
  }
}

.img-container {

  width: 100%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;

  //align-items: center;
  //justify-content: center;

  //&:after {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  content: ' ';
  //  background: radial-gradient(circle farthest-side, transparent, blue);
  //}

  img {
    //display: flex;
    //flex-direction: row;
    max-width: 100%;
    height: 100vw;
    //max-height: 100%;
    object-fit: contain;
  }
}
.fit-img {

  //display: flex;
  //flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;

}
.img_container {
  @extend .overflow-hidden;
  //@extend .fit;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}




.scroll_img_container {
  overflow: scroll;
  max-height: 100%;
  img {
    width: 100%
  }
}
