---
---


<div  class="full-width" tabindex="0">
    <div class="row around q-pa-md" data-name="desktop-new-book">
        <button class=" col-lg-5 col-md-6 q-pa-md text-warning  text-h5 outline"
                tabindex="-1" name="trash_book_desktop">
            <span>
                <i class="las la-recycle col"></i>
                Recycle
            </span>
        </button>
        <button tabindex="-1" class="col-lg-5 col-md-6 q-pa-md text-positive text-h5 outline" name="keep_book_desktop">
            <span>
                <i class="las la-award"></i>
                Keep
            </span>
        </button>
    </div>

    <div data-name="desktop-saved-book">
        <h6 class="text-center text-primary text-uppercase"> In your download queue.</h6>

    </div>


    <div class="row around q-pa-md">
        <button tabindex="-1" class="col-lg-5 col-md-6 q-pa-md text-secondary text-h5 outline" name="close_book_desktop">
            <span>
                <i class="las la-close"></i>
                Close
            </span>
        </button>
    </div>

    <div class="row around q-py-lg hidden" data-name="missions-index">
        <button tabindex="-1" class=" outline col-5 text-h6  indie text-accent self-center" name="library_mission_btn">
            <span class=" center flex">
                <span class="text-h1 q-mr-sm"><i class="las la-tasks"></i></span>
                Library Missions
            </span>
        </button>

        <button tabindex="-1" class="outline col-5 text-h6  indie text-accent" name="report-mission-btn">
            <span class=" center flex">
                <span class="text-h1 q-mr-sm"> <i class="las la-book-dead text-negative"></i></span>
                Report Mission
            </span>
        </button>
    </div>

    <div class="row  q-py-lg hidden" data-name="library-mission">
        <hr />
        <h4 class="text-accent">
            <i class="las la-tasks"></i>
            Library Missions
        </h4>

        <div class="col-12 text-h6 text-left q-mb-md  indie ">
            Check the book cover title, and see if it matches the one at the top. Is it correct?
        </div>


        <div class="col-12 ">
            <div class="row">

                <button tabindex="-1" class="col-4 text-left q-pa-md  text-h6 outline  title-assesment"
                        name="wrong_title_book_desktop">

                    <span class="text-left">
                        <span class="checkbox check text-positive">&#9745;</span>
                        <span class="checkbox unchecked text-accent">&#9744;</span>
                        <i class="las la-times-circle"></i>
                        Incorrect
                    </span>
                </button>

                <button tabindex="-1" class="col-4 text-left q-pa-md  text-h6 outline semi-transparent-border title-assesment "
                        name="correct_title_book_desktop">
                    <span class="text-left">
                        <span class="checkbox check text-positive">&#9745;</span>
                        <span class="checkbox unchecked text-accent">&#9744;</span>
                        <i class="las la-check-circle"></i>
                        Correct
                    </span>
                </button>
                <button tabindex="-1" class="col-4 text-left q-pa-md  text-h6 outline semi-transparent-border  title-assesment"
                        name="no_see_title_book_desktop">
                    <span class="text-left">
                        <span class="checkbox check text-positive">&#9745;</span>
                        <span class="checkbox unchecked text-accent">&#9744;</span>
                        <i class="las la-eye-slash"></i>
                        Cannot See

                    </span>
                </button>
            </div>
        </div>


        <div class="col-12 text-h6 text-left q-py-md  indie text-accent">
            Under normal circumstances, students needs to go trough a 3 months long manual workshop before becoming
            apprentice.
        </div>
    </div>
    <div class="row  q-py-lg hidden" data-name="report-mission-step-1">
        <hr />
        <h4 class="indie">
            <i class="las la-book-dead text-negative"></i>
            Report Mission 1/2
        </h4>


        <h6 class="text-bold text-accent">Rules:</h6>
        <h6 class="indie">You can only report content that you believe has been stolen. .</h6>

        <h6 class="indie">By 'stolen,' we mean content that appears to belong to a publisher, classified
            information, or private content that is not already available under a free license.</h6>

        <div class="row center">
            <button tabindex="-1" class="col-5 text-center outline text-primary text-h5" name="report-i-understand">I Understand</button>
        </div>
    </div>
    <div class="row  q-py-lg hidden" data-name="report-mission-step-2">
        <hr />
        <h4 class="indie">
            <i class="las la-book-dead text-negative"></i>
            Report Mission 2/2
        </h4>

        <h6 class="indie">
            Additionally, there are some penalties to report valid books.
            <br/>

            <span class="text-negative">-5 points</span> per incorrect report
            <br/>
            <span class="text-positive">+20 points</span> per correct report
            <br/>
            <span class="text-positive">+40 points</span> for ultra reports
        </h6>

        <div class="col-12 row around">

            <button tabindex="-1" class=" col-5 q-pa-md q-mt-md text-h6 outline  text-secondary " name="report-back">
                Back
            </button>

            <button tabindex="-1" class=" col-5 q-pa-md q-mt-md text-h6 outline  text-negative " name="report-unsafe">
                Report
            </button>


        </div>

        <div class="col-12 row center q-pa-md">
            <a tabindex="-1" class=" col-8 q-pa-md q-mt-md text-h6 link  text-accent text-center self-center" href="/game/level_3_hint">
                I need to make 1 report to reach Level 4!
            </a>
        </div>
    </div>
</div>