---
import {type BookJsonV2} from "@8pond/interfaces";
import {AstroBooks} from "../solidApps/astro/bookList";

interface Props {
    books: Array<BookJsonV2>
    topic: string
}
import {AppReady} from "../solidApps/common_utils/AppReady";
const {books, topic} = Astro.props;
---

<section id="bookActivityWithTabs" class="row" tabindex="0" data-topic-id={topic}>

    {books.map((book, index: number) => <div class=" col-12 col-sm-11 col-md-4 q-pa-sm fadeInOut">
        <a class="fill no-uppercase row center "
           tabindex="-1"
           data-selector="bookThumbnail"
           data-book-id={book._id}
           id={`book_${index}`}
           data-thumbnail-id={book.covers.pages[book.covers.default]}>
            <div class="col-2 col-md-3 img_container flex self-center center" ></div>
            <div class="col-9 col-md-8 text-left bookText text-body center self-center" style="pointer-events: none; ">
                <span class="title">{book.name}</span>
                <br />
                <span class="text-secondary">{book.numberOfParts} pages</span>
            </div>
            <div class="student-only col self-end text-white text-body" style="pointer-events: none; ">
                <i class="las la-feather-alt"></i>
            </div>
            <!--<div class="col-1 self-center">-->
            <!--    <i class="las la-skull-crossbones vote_forbidden text-negative"></i>-->
            <!--    <i class="las la-tasks vote_ok text-positive"></i>-->
            <!--    <i class="las la-hand-holding-heart vote_great text-accent"></i>-->
            <!--    <i class="las la-bell vote_poor text-negative"></i>-->
            <!--</div>-->

    </a></div>)}

</section>
<AppReady client:only="solid-js" minimumLevel={1}>
    <AstroBooks client:only="solid-js"/>
</AppReady>