---
interface Props {
    btnTitle: string
}
const {btnTitle} = Astro.props;
---


<style>
    .sib-hide-loader-icon {
        display: none
    }

    .sib-form-message-panel {
        display: none;
    }

    svg {
        display: none !important;
    }

    .sib-form-message-panel.sib-form-message-panel--active {
        display: flex;
    }

    .sib-form {
        border: 3px solid white;
        border-radius: 0.3rem;
        width: auto;
        min-width: 0;
        background-color: black;;
        display: inline-flex;
    }
</style>
<!--  END - We recommend to place the above code in head tag of your website html -->

<!-- START - We recommend to place the below code where you want the form in your website html  -->
<div class="sib-form q-pa-md full-width">
    <div id="sib-form-container" class="sib-form-container  full-width">
        <div id="error-message" class="row sib-form-message-panel ">
            <div class="sib-form-message-panel__text sib-form-message-panel__text--center q-pa-md text-center"
                 style="border: 1px solid indianred">
                <span class="sib-form-message-panel__inner-text text-negative ">
                          Your Email could not be saved. Please try again.
                      </span>
            </div>
        </div>
        <div></div>
        <div id="success-message" class="sib-form-message-panel row ">
            <div class="sib-form-message-panel__text sib-form-message-panel__text--center q-pa-md text-center"
                 style="border: 1px solid green">
                <span class="sib-form-message-panel__inner-text text-positive ">
                  Lucky Pond will contact you shortly !
              </span>
            </div>
        </div>
        <div id="sib-container" class="row q-my-lg text-left sib-container--large sib-container--vertical">
            <form id="sib-form" method="POST"
                  class="full-width"
                  action="https://95618cfe.sibforms.com/serve/MUIFAPDvD6-_dZoPy-_bvt7U2D9sHaauRFGkSEmn_pSq7zFnH-IiZYrFBx10PehRMGiVe4whz4B3HxMrUivphhgcjEj6-EUBPQThmaXyOg30vlcgO-iMc1Onh6WL9Rjco4GSmyx3dRWF08VreTJInJO3pFWs1XC997qCo1vlpzmeN5n_LTei5xRdB4dlmqzLceIK-vPBzJDIDjmX"
                  data-type="subscription">
                <div class="row center">
                    <div style="padding: 8px 0;" class="col-md-9 col-12">
                        <div class="sib-input sib-form-block">
                            <div class="form__entry entry_block">
                                <div class="form__label-row bg-dark row center">
                                    <label  class="col-md-4 col-sm-5 col-12 entry__label text-h5  text-left" for="EMAIL" data-required="*">
                                        Enter your email:</label>

                                    <div class=" col-md-7 col-sm-7 col-12 entry__field q-py-lg">
                                        <input class="input text-black text-h6 q-pa-sm full-width" type="text" id="EMAIL"
                                               name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true"
                                               required/>
                                    </div>
                                </div>

                                <label class="entry__error entry__error--primary">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-12">
                        <div class="sib-form-block row center">
                            <button class="sib-form-block__button text-h4 text-primary outline sib-form-block__button-with-loader q-pa-md"
                                    form="sib-form" type="submit">

                                <svg width="20" height="20"
                                     class=" icon clickable__icon progress-indicator__icon sib-hide-loader-icon"
                                     viewBox="0 0 512 512">
                                    <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z"/>
                                </svg>
                                <span>
                            {btnTitle}</span>
                            </button>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="email_address_check" value="" class="input--hidden">
                <input type="hidden" name="locale" value="en">
            </form>
        </div>
    </div>
</div>
<!-- END - We recommend to place the above code where you want the form in your website html  -->

<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
    // @ts-ignore
    window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
    // @ts-ignore
    window.LOCALE = 'en';
    // @ts-ignore
    window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
    // @ts-ignore
    window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";
    // @ts-ignore
    window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";

    // @ts-ignore
    window.translation = {
        common: {
            selectedList: '{quantity} list selected',
            selectedLists: '{quantity} lists selected'
        }
    };

    var AUTOHIDE = Boolean(0);
</script>

<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>


<!-- END - We recommend to place the above code in footer or bottom of your website html  -->
<!-- End Brevo Form -->


<!-- START - We recommend to place the below code where you want the form in your website html  -->
<!--<div  id="brevo-email">-->
<!--    <form-->
<!--          method="POST"-->
<!--          action="https://95618cfe.sibforms.com/serve/MUIFAPDvD6-_dZoPy-_bvt7U2D9sHaauRFGkSEmn_pSq7zFnH-IiZYrFBx10PehRMGiVe4whz4B3HxMrUivphhgcjEj6-EUBPQThmaXyOg30vlcgO-iMc1Onh6WL9Rjco4GSmyx3dRWF08VreTJInJO3pFWs1XC997qCo1vlpzmeN5n_LTei5xRdB4dlmqzLceIK-vPBzJDIDjmX"-->
<!--          data-type="subscription">-->

<!--        <div class="row">-->
<!--            <div class="q-py-md">-->
<!--                <label for="EMAIL" data-required="*">Enter your email to get in touch</label>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="row start">-->
<!--            <div class="col-md-6 col-12">-->
<!--                <input  type="text" id="EMAIL" name="EMAIL" autocomplete="off"-->
<!--                       placeholder="EMAIL" data-required="true" required/>-->

<!--            </div>-->
<!--            <div class="col-md-4 col-12 self-center">-->
<!--                <button class="stretch text-accent outline text-h4" form="sib-form" type="submit">-->
<!--                    {btnTitle}-->
<!--                </button>-->
<!--            </div>-->

<!--            <input type="hidden" name="email_address_check" value="" class="input&#45;&#45;hidden">-->
<!--            <input type="hidden" name="locale" value="en">-->
<!--            <input type="hidden" name="html_type" value="simple">-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!-- END - We recommend to place the above code where you want the form in your website html  -->
