---
---

<div  id="effect_x2" class="effect">x2</div>
<div class="effect" id="effect_x3">x3</div>
<div class="effect" id="effect_x4">x4</div>
<div class="effect" id="effect_x5">x5</div>
<div class="effect" id="effect_x10">x10 Combo</div>

<script>
    import {RegisterCLickEffects} from "../js/clickEffects";
    RegisterCLickEffects();
</script>
<style lang="scss">

  .effect {
    pointer-events: none;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    display: none;
  }
  #effect_x10 {
    font-size: 5rem;
    color: darkred;
    width: 20rem;
    min-width: 25rem;
    &.active {
      display: block !important;
      z-index: 15000;
    }
  }

  #effect_x2, #effect_x3, #effect_x4, #effect_x5 {
    font-size: 3rem;
    color: orange;
    padding: 0.5rem;
    width: 7rem;

    &.active {
      display: block !important;
      z-index: 15000;
    }
  }
</style>