---
---
<div class="row">
    <!-- Begin Brevo Form -->
    <!-- START - We recommend to place the below code in head tag of your website html  -->
    <style>
        #sib-container input:-ms-input-placeholder {
            text-align: left;
            color: #0f1010;
        }

        #sib-container input::placeholder {
            text-align: left;
            color: #0f1010;
        }

        #sib-container a {
            text-decoration: underline;
            color: #2BB2FC;
        }
    </style>
    {{/*        <link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">*/}}
    <!--  END - We recommend to place the above code in head tag of your website html -->

    <!-- START - We recommend to place the below code where you want the form in your website html  -->

    <div class="row q-pa-md">
        <h6 class="text-accent col-12">
            Enter your email address to continue !
        </h6>
        <input class="col-12 col-lg-6 q-pa-md" placeholder="EMAIL" style="font-size: 1.5rem; " />
        <button id="subscribe">Continue</button>
        <div id="thankyou">Thank you! We will contact you as soon as the next level is ready to play.</div>

        <script >
            import {hideElement, showElement} from "../js/utils";

            const thankYou = document.getElementById('thankyou')
            hideElement(thankYou);

            const subscribeBtn = document.getElementById('subscribe');

            subscribeBtn.addEventListener("click", () => {
                // @ts-ignore
                const email = document.getElementById('EMAIL')?.value;
                const formData = new FormData()
                formData.set("EMAIL", email)
                formData.set("email_address_check", "")
                formData.set("locale", "en")
                formData.set("html_type", "simple");
                hideElement(subscribeBtn);
                showElement(thankYou)

                // @ts-ignore
                fetch("https://95618cfe.sibforms.com/serve/MUIFAPW497pQoxsWnxdSnKNV8QeUwg0FafAF2BzEPq1LK1OcPd0PvWpiV6z2GwLVq_AIA8lVpJ95jJeCI3TM0pGHxI16n6YIMn-Q_BFqS8wgWFefQlvNj0Maj-0pXBhVX0xnkX47pPM6yr4eKHgEX21yXDghT08nggTcfriOIBn5AfwYaz0L8fFBe-g2JCCGeHXxUXhI79O0cIPI", {
                    method: 'post',
                    body: formData,
                }).then(console.log).catch(console.error)
            })
        </script>
    </div>

    <div class="sib-form" style="text-align: center;
         background-color: #000000;                                           ">
        <div id="sib-form-container" class="sib-form-container">
            <div id="sib-container" class="sib-container--large sib-container--vertical" style="text-align:center; background-color:rgba(0,0,0,1); max-width:540px; border-radius:3px; border-width:1px; border-color:#C0CCD9; border-style:solid;">
                <form id="sib-form" method="POST" action="https://95618cfe.sibforms.com/serve/MUIFAPW497pQoxsWnxdSnKNV8QeUwg0FafAF2BzEPq1LK1OcPd0PvWpiV6z2GwLVq_AIA8lVpJ95jJeCI3TM0pGHxI16n6YIMn-Q_BFqS8wgWFefQlvNj0Maj-0pXBhVX0xnkX47pPM6yr4eKHgEX21yXDghT08nggTcfriOIBn5AfwYaz0L8fFBe-g2JCCGeHXxUXhI79O0cIPI">
                    <div style="padding: 8px 0;">
                        <div class="sib-input sib-form-block">
                            <div class="form__entry entry_block">
                                <div class="form__label-row ">
                                    <label class="entry__label" style="font-weight: 700; text-align:left; font-size:16px;
                                        text-align:left; font-weight:700; font-family:&quot;Helvetica&quot;, sans-serif; color:#e4f959;" for="EMAIL" data-required="*">Enter your email address to continue</label>

                                    <div class="entry__field">
                                        <input class="input " type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                                    </div>
                                </div>

                                <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;">
                                </label>
                                <label class="entry__specification" style="font-size:12px; text-align:left; font-family:&quot;Helvetica&quot;, sans-serif; color:#d5dbe5; text-align:left">
                                    Provide your email address to subscribe. For e.g abc@xyz.com
                                </label>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 8px 0;">
                        <div class="sib-form-block" style="text-align: left">
                            <button class="sib-form-block__button sib-form-block__button-with-loader" style="font-size:16px; text-align:left; font-weight:700; font-family:&quot;Helvetica&quot;, sans-serif; color:#ffffff; background-color:#14223a; border-radius:3px; border-width:0px;" form="sib-form" type="submit">
                                <svg class="icon clickable__icon progress-indicator__icon sib-hide-loader-icon" viewBox="0 0 512 512">
                                    <path d="M460.116 373.846l-20.823-12.022c-5.541-3.199-7.54-10.159-4.663-15.874 30.137-59.886 28.343-131.652-5.386-189.946-33.641-58.394-94.896-95.833-161.827-99.676C261.028 55.961 256 50.751 256 44.352V20.309c0-6.904 5.808-12.337 12.703-11.982 83.556 4.306 160.163 50.864 202.11 123.677 42.063 72.696 44.079 162.316 6.031 236.832-3.14 6.148-10.75 8.461-16.728 5.01z" />
                                </svg>
                                Continue
                            </button>
                        </div>
                    </div>
                    <input type="text" name="email_address_check" value="" class="input--hidden">
                    <input type="hidden" name="locale" value="en">
                    <input type="hidden" name="html_type" value="simple">
                </form>
            </div>
        </div>
    </div>
    <!-- END - We recommend to place the above code where you want the form in your website html  -->
    <!-- End Brevo Form -->

</div>
<div class="row fit">

    <iframe class="col-12 col-md-10 col-lg-8"  src="https://95618cfe.sibforms.com/serve/MUIFAPW497pQoxsWnxdSnKNV8QeUwg0FafAF2BzEPq1LK1OcPd0PvWpiV6z2GwLVq_AIA8lVpJ95jJeCI3TM0pGHxI16n6YIMn-Q_BFqS8wgWFefQlvNj0Maj-0pXBhVX0xnkX47pPM6yr4eKHgEX21yXDghT08nggTcfriOIBn5AfwYaz0L8fFBe-g2JCCGeHXxUXhI79O0cIPI" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
</div>