---
import menuData from './menu.json';
import {Image} from 'astro:assets';
import XIcon from '../img/icons/x.png';
import Giveth from '../img/icons/giveth.svg';
---

<header id="top-desktop" class="row middle-sm mobile-hide center">
    <div class="col-3  row center">
        <a href="/" class="outline no-uppercase topMenuHome">
            <span>datapond.earth <strong class="text-white">D-<small class="text-positive">SAFE</small></strong></span>
        </a>
    </div>

    <nav class="col-9  text-center " id="desktopTopMenu" >
        <a href="/game/start" class="outline q-mr-xs text-primary" >
            Enter The Library
        </a>
        {menuData.map((topMenu) => <a href={topMenu.url} class="outline q-mr-xs top-desktop-menu" >{topMenu.name}</a>)}
        <!--<a href="/donate" class="outline q-mr-sm  text-negative text-bold"  >Get Involved</a>-->
        <a href="/contact" target="_blank"
           title="Contact"
           class="outline text-bold text-primary">
            <i class="las la-comments" style="font-size:1.8rem;" />
        </a>
        <a href="https://www.facebook.com/profile.php?id=61560330976674" target="_blank"
           title="Facebook"
           class="q-pa-xs " style="color: #FF1FE9FF">
            <i class="lab la-facebook" style="font-size:2.3rem;" />
        </a>
        <a href="https://x.com/data_pond" target="_blank"
           title="Twitter"
           class="q-pa-xs  text-positive">
            <Image src={XIcon} alt="Twitter" style="width: 2.5rem; height: 2.5rem" />
        </a>
        <!--Used to be  https://giveth.io/project/enter-the-library-->
        <a href="https://giveth.io/project/d-licence-book-library" target="_blank"
           title="Giveth"
           class="q-pa-sm  text-positive">
            <Image src={Giveth} alt="Giveth" class="Giveth"  />
        </a>
    </nav>
</header>

{menuData.map((topMenu) => <div id=`desktop-submenu_${topMenu.id}` class="desktop-submenu desktop-only ">
    <ul>
        {topMenu.children.map(subItem => <li class="text-left bg-blue-grey ">
            <a href=`${subItem.href}#${subItem.fragment}` data-parentId={topMenu.id}>
                <h5 class="text-accent"><i class=`${subItem.icon} text-accent q-mr-md`></i>{subItem.title}</h5>
                 {subItem.description.map((description) => <p>{description}</p>)}
            </a>
        </li>)}
    </ul>
</div>)}

<script>
    import {getUrl,$dqa} from "../js/utils";
    const topMenuEntries = document.querySelectorAll('.top-desktop-menu');
    const checkActiveTopMenu = () => {
        const currentUrl = getUrl()
        topMenuEntries.forEach(entry => {
            entry.classList.remove('active')
        });
        $dqa('.top-desktop-menu').forEach((top) => {
            const url = top.getAttribute('href');
            // $(submenu)
            if (currentUrl === url) {
                console.log('same URL !');top.classList.add('active');
            } else {
                top.classList.remove('active');
            }
        });
    }
    checkActiveTopMenu();
</script>
