---
import {generateTopics} from "../js/topics";

import TopTopicMenu from "./TopTopicMenu.astro";
import MenuIcon from "./MenuIcon.astro";
import {AppReady} from "../solidApps/common_utils/AppReady";
import {HideLoading} from "../solidApps/common_utils/HideLoading";
import {StudyActions} from "../solidApps/common_components/actions/study";
import {TopicMenu} from "../solidApps/astro/topicMenu";


const topics = generateTopics(1, Astro);

const selectedTagName = "Top Topic";
---
<header >
    <nav tabindex="0" class="row middle-sm  items-center justify-start">
        <div class="col-2 col-sm-1 ">

            <button aria-label="Toggle Menu"
                    class="outline bg-black  text-accent q-pa-sm q-ma-xs round"
                    id="menu-toggle" type="button">
                <MenuIcon />
            </button>

        </div>
        <div class="col-10 col-md-4 row  ">
            <div class="text-h5 indie text-info col-12 overflow-hidden q-pa-md">My Study space</div>
        </div>
        <div class="col  self-end items-end end  q-px-sm mobile-hide">
            <HideLoading client:only="solid-js" >
                <AppReady minimumLevel={4} client:only="solid-js" >
                    <StudyActions client:only="solid-js" />
                </AppReady>
            </HideLoading>
        </div>
    </nav>
</header>



<nav id="sidenav" >
    <TopicMenu  id="globalMenu" tags={topics} selectedTagName={selectedTagName} client:load />
</nav>



<script>
    import {MobileMenu} from "../js/mobileMenu";
    MobileMenu("globalMenu", "sidenav", "menu-toggle");
</script>