---
import {generateTopics} from "../js/topics";

import {MobileScoreBox} from "./../solidApps/common_components/score_box/mobile";

import MenuIcon from "./MenuIcon.astro";
import {AppReady} from "../solidApps/common_utils/AppReady";
import {HideLoading} from "../solidApps/common_utils/HideLoading";
import {TopicMenu} from "../solidApps/astro/topicMenu";
// mobileMenu

interface Props {
    topicName: string
}
const {topicName} = Astro.props
const topics = generateTopics(1, Astro);

const selectedTagName = "Top Topic";
---

<header  class="row bg-dark  center bg-blue-grey " style="z-index: 1000" id="top-menu-topic">
    <div class="col-2 col-md-1">
        <button aria-label="Toggle Menu Mobile"
                class=" outline bg-black  text-accent q-pa-sm q-ma-xs round"
                id="menu-mobile-toggle" type="button">
            <MenuIcon />
        </button>
    </div>
    <div class="col-5 desktop-only text-h5 overflow-hidden q-pa-md bg-dark">
        {topicName}
    </div>
    <div class="col-10 col-md-4 row center " >
        <HideLoading client:only="solid-js">
            <AppReady minimumLevel={1} client:only="solid-js">
                <MobileScoreBox client:only="solid-js"/>
            </AppReady>
        </HideLoading>
    </div>
</header>
<nav id="sidenav">
    <TopicMenu  id="mobileMenu_nocss" tags={topics} selectedTagName={selectedTagName} client:load />
</nav>