---

interface IProps {
    src: string
}
const {src} = Astro.props;
---
<div  class="zoomContainer" >
    <div  id="img-container" class="imgContainer">
      <img  src={src} alt="" />
    </div>
</div>

<script>
import { addZoomPan } from "../js/mobileZoom";

const container = document.getElementById('img-container')!
const image = container.querySelector('img') as HTMLImageElement

addZoomPan({ container, image })

    
</script>