---
import menu from './menu.json'
import MenuIcon from "./MenuIcon.astro";
import {Image} from 'astro:assets';
import XIcon from '../img/icons/x.png';
import Giveth from '../img/icons/giveth.svg';
---
<header id="top-mobile" class="desktop-hide row center " style="z-index: 1000">
    <div class="col-2">
        <button aria-label="Toggle Menu Tablet" class=" outline bg-black  text-accent q-pa-sm q-ma-xs round" id="menu-toggle" type="button">
            <MenuIcon />
        </button>
    </div>
    <a href="/" class="bg-transparent no-uppercase col-9 text-h4 q-pt-md text-center">
        datapond.earth
    </a>
</header>
<nav id="sidenav" class="mobile-only" >
    <ul id="mobileMenu">
        <li class="uppercase q-mb-sm q-mt-lg">
            <a href="/preGame" class="text-left text-h3 fit indie outline text-primary q-pa-md ">
                Enter The Library
            </a>

        </li>
        <li class=" q-mb-sm q-mt-lg around row">
            <a href="https://www.facebook.com/profile.php?id=61560330976674" target="_blank"
               title="Facebook"
               class="q-pa-xs col-3 finger" style="color: #FF1FE9FF">
                <i class="lab la-facebook" style="font-size:3rem;" />
            </a>

            <a href="https://x.com/data_pond" target="_blank"
               title="Twitter"
               class="q-pa-xs  col-3 finger text-positive">
                <Image src={XIcon} alt="Twitter" style="width: 3rem; height: 3rem" />
            </a>

            <a href="https://giveth.io/project/enter-the-library" target="_blank"
               title="Giveth"
               class="q-pa-xs  col-3 finger text-positive">
                <Image src={Giveth} alt="Giveth" class="Giveth mobile"  />
            </a>
        </li>
        {menu.map(topMenu =>
            <li>
                <ul class="container">
                    <li class="q-mb-sm">
                        <a href={topMenu.url} class=" text-left text-h4 no-uppercase">
                            <strong>{topMenu.name}</strong>
                        </a>
                    </li>
                    {topMenu.children.map(item =>
                        <li class="q-mb-sm">
                            <a href=`${item.href}#${item.fragment}` class=" text-left transparent no-uppercase">
                                <h4 class="text-accent">
                                    <i class={item.icon} style="font-size: 2.5rem; color: white"></i>
                                    {item.title}
                                </h4>
                                {item.description.map(description => <p class="text-white">{description}</p>)}
                            </a>
                        </li>
                    )}
                </ul>
            </li>
        )}
    </ul>
</nav>

<script>
    import {MobileMenu} from "../js/mobileMenu";
    MobileMenu();
</script>