---
import type { ImageMetadata } from 'astro';
import {Image} from 'astro:assets';

interface Props {
    img: ImageMetadata, 
    alt?:string
}

const {img, alt} = Astro.props;

---

<div class="row center "  tabindex="-1">
    <div class="col-md-4 col-lg-3  col-sm-4 col-10" style="border-radius: 1rem">
        <Image src={img} alt={alt || "Generated with GenCraft l"} class="fit"/>
    </div>
    <div class="col-md-8 col-lg-9 col-sm-8 col-12 text-secondary self-center text-left
    q-pa-md text-h5 indie-flower-regular narationOrder">
        <slot />
    </div>
</div>