---
import type { ImageMetadata } from 'astro';
import {Image} from 'astro:assets';

interface Props {
    img: ImageMetadata
    alt?:string
}

const {img, alt} = Astro.props;
---

<style>
//*[tabindex="-1"] {
//    border: 3px solid transparent;
//    border-radius: 0.5rem;;
//    &:focus {
//        //border: 3px solid orange;
//    }
//}

</style>


<div class="row center "  tabindex="-1">
    <div class="col-md-8 col-lg-9  col-sm-8 col-12 text-secondary self-center text-left
    q-pa-md text-h5 indie-flower-regular narationOrder">
        <slot />
    </div>
    
    <div class="col-md-4 col-lg-3 col-sm-4 col-10 " style="border-radius: 1rem">
        <Image src={img} alt={alt || "Generated with GenCraft"} class="fit"/>
    </div>
    
    
</div>