---
interface Props {
    Start: string,
    End: string,
    title: string
    Commit: string
    DeploymentDate: string
}

const {Start, End, title, Commit, DeploymentDate} = Astro.props;
---
<style>
    .project-box {
        border: 3px solid rgba(255, 255, 255, 0.4);
        border-radius: 0.3rem;
    }
</style>
<div class="project-box q-pa-md q-my-md">
    <div class="row">
        <p class="text-primary"><small><strong>{title}</strong> => {Start}->{End}</small></p>
    </div>
    <div class="row">
        <slot/>
    </div>
</div>
