---

import {filterValid, staticLoadActiveTopicIdsFromUrl, mapTag, tagIndex} from "../js/book";
import {generateTopicUrl} from "../js/staticUtils";
const activeIds = staticLoadActiveTopicIdsFromUrl(Astro);
interface Props {
    tag: number
    id: string
}
const isFound = (id: number) => activeIds.reduce((acc: boolean, value: number) => {
    if (acc) {
        return acc
    }
    return value === id
}, false);
const {id, tag} = Astro.props;

if (typeof tagIndex[tag] === 'undefined') {
    console.log(tagIndex[1])
    throw new Error(`no tag id ${id} - ${tag} `)
}
const selectedTag = tagIndex[tag];
const filteredTags = selectedTag.has_tag.map(mapTag).filter(t => typeof t !=='undefined' && t.deleted===false);

---

<div id={id} class="menu_container">
    <div class="title">The Library Hallway</div>
    <ul tabindex="0" >
        {filteredTags.length > 0 ? filteredTags.map((tag) => {

            const found = isFound(tag._id);
            const link = generateTopicUrl(tag);
            const name = tag.name;

            return <li class:list={[{'active': found}]} data-tag-id={tag._id}>
                        <a class:list={[{'active': found}]} href={link} tabindex="-1">
                            <div class="row fit">
                                <div class="col-11 ">
                                    <i class:list={['las ', found ? 'la-folder-open' : 'la-folder']}/>
                                    {name}
                                </div>
                                <div class="col-1 self-center text-h6 text-accent">
                                    <i class="las la-book-reader hidden"></i>
                                </div>
                            </div>
                        </a>
                    </li>;
        }) : selectedTag.name}
    </ul>
</div>
