.modal{

  &:before{
    content: "";
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index:210000;
  }

  //&.active, &:target{
  //  // Active animate in modal
  //  &:before{
  //    display: block;
  //  }
  //  display: block;
  //  .dialog{
  //    top: 10%;
  //  }
  //}

  @extend .flex;
  @extend .center;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  width: 100dvw;
  height: 100dvh;
  background: transparent;
  position: fixed;
  z-index:210001;

  .dialog{
    background: black;
    border: $info solid 2px;
    border-radius: 0.5rem;
    z-index:210001;
    @extend .q-pa-sm;
    @extend .flex;
    max-width: 90%;
    min-width: 50%;
    max-height: 80%;
    //@extend .overflow-hidden;
    //.translate(0, -500%);
    //.transition-transform(~"0.3s ease-out");
  }


}
