//.modal {
//  display: none;
//  position: fixed;
//  z-index: 14000;
//  padding-top: $navHeight;
//  left: 0;
//  top: 0;
//  width: 100vw;
//  height: 100vh;
//  overflow: hidden;
//  background: rgba(0,0,0,0.7);
//
//  .modal-content {
//    margin: auto;
//    display: block;
//    background: black;
//    border: 1px solid $accent;
//    width: 80%;
//    max-width: 700px;
//  }
//}

.tronlink-connected {
  .name {

  }
  .address {
    overflow: hidden;
  }
}



@media screen and (max-width: 600px){
  .modal-content {
    width: 100%;
  }
}