---
import GameLayout from "../../../layouts/GameLayout.astro";
import {Image} from'astro:assets';
import Bird from '../../../img/game/cassowary4.png';
---

<GameLayout title="Guide to the library super computer"
            description="GAME Datapond - Enter the library - Npc for exploring the library super computer">

    <div class="row center window-height window-width">
        <div class="col-md-4 col-sm-9 col-12 ">
            <Image src={Bird} alt="Generated with GenCraft" class="fit"/>
        </div>
        <div class="col-md-8 col-12  q-pa-md">
            <div class="indie-flower-regular text-secondary text-h5">
                Although we know the library lives inside a giant decentralized computer, we think it might be alive.
            </div>

            <div class="q-my-lg indie-flower-regular text-secondary text-h5">
                The library is the result of the work of a forgotten genius who disapeared 25 years ago.
            </div>
            <div class="row">
                <button id="back" class="outline q-mt-md col-12 col-md-6 "><h2>Where ?</h2></button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('back').addEventListener('click', () => {

            window.location.replace("/game/computer_library");
        })
    </script>
</GameLayout>