---
import GameLayout from "../../../layouts/GameLayout.astro";
import {Image} from'astro:assets';
import Bird from '../../../img/game/superpc1.png';
---

<GameLayout title="The Library's super computer"
            description="GAME Datapond - Enter the library - to see the library super computer ">

    <div class="row center window-height window-width">
        <div class="col-md-4 col-sm-9 col-12 ">
            <Image src={Bird} alt="Generated with GenCraft" class="fit"/>
        </div>
        <div class="col-md-8 col-12  q-pa-md  ">

            <div class="text-h2 q-my-lg indie-flower-regular text-secondary">
                Yes, I am "technically" a video game. 
            </div>             
            
            <div class="text-h3 q-my-lg indie-flower-regular text-accent">
                Although in here.... everything is real. 
            </div>

            <div class="row center">
                <a href="/topicIndex" class="outline  q-mt-md col-12 col-md-8 "><h1 class="indie-flower-regular">Enter The Library</h1></a>
            </div>
        </div>
    </div>

</GameLayout>