---
import GameLayout from "../../../layouts/GameLayout.astro";
import {Image} from'astro:assets';
import Bird from '../../../img/game/world_connected_1.png';
---

<GameLayout title="The Library decentralization concept"
            description="GAME Datapond - Enter the library - to see the library decentralization concept">

    <div class="row center window-height window-width">
        <div class="col-md-4 col-sm-9 col-12 ">
            <Image src={Bird} alt="Generated with GenCraft" class="fit"/>
        </div>
        <div class="col-md-8 col-12  q-pa-md">
            <h2>
                Welcome !
            </h2>

            <h5 class="indie-flower-regular text-secondary">It is a real honor to have <strong>you</strong> as a first time visitor.</h5>

            <div class="row">
                <button id="back" class="outline q-mt-md col-12 col-md-6 "><h2>Let's go !</h2></button>
            </div>
        </div>
    </div>

</GameLayout>