---
import GameLayout from "../../../layouts/GameLayout.astro";
---

<GameLayout title="Enter The library - Level 5"
            description="GAME Datapond - Enter the library - level 5">

    <div class="row center">
        <div class="page-width">

            <h1 class="indie" tabindex="-1">
               Lesson 1/3 :
            </h1>

            <h4 class="indie" tabindex="-1">
                Crypto Currencies are a cutting edge unregulated alternative to bank transactions.
            </h4>

            <h4 class="indie" tabindex="-1">
                Using them by-pass bank fees. It also enables anyone to generate themself an unlimited number of wallets - that are anonymous bank accounts.
            </h4>


            <h4 class="indie" tabindex="-1">
                The technology is so innovative that it unlocks the possibility to build a safe public decentralized voting platform for managing the Library's content.
            </h4>

            <h4 class="indie text-accent" tabindex="-1">
                A permanent voting platform that needs no human intervention and no upkeep to keep running for generations.
            </h4>

            <div class="row around q-my-lg" >
                <a href="/game/crypto_lesson2" class="outline text-accent col-md-4 col-lg-3 col-6  text-h3 center q-pa-md">
                    <span><i class="las la-clock"></i>Lesson 2</span>
                </a>

            </div>

        </div>
        <script>
            import {getUrlParams} from "../../../js/utils";

            const params  = getUrlParams();
            if (params.from) {
                document.querySelector('a').setAttribute('href', params.from)
            }
        </script>
    </div>

</GameLayout>