---
import GameLayout from "../../../layouts/GameLayout.astro";
---

<GameLayout title="Enter The library - Level 5"
            description="GAME Datapond - Enter the library - level 5">

    <div class="row center">
        <div class="page-width">

            <h1 class="indie" tabindex="-1">
               Lesson 2/3 :
            </h1>

            <h4 class="indie" tabindex="-1">
                Because you are a beginner in this crypto world, we are going to use fake or free paper money with a TRON Wallet.
            </h4>

            <h4 class="indie" tabindex="-1">
                A Wallet is a small program that acts as your personal bank account.
            </h4>

            <h4 class="indie" tabindex="-1">
                To access your decentralized bank account, you need to install a Wallet App.
            </h4>

            <h4 class="indie" tabindex="-1">
                First install it by <a href="https://www.tronlink.org/dlDetails/" target="_blank" class="link text-h4"> clicking here.</a>

                Then come back to this page to follow the next instructions
            </h4>


            <div class="row around q-my-lg">
                <a href="/game/crypto_lesson3" class="outline text-accent col-md-4 col-lg-3 col-6  text-h3 center q-pa-md">
                    <span><i class="las la-clock"></i>Lesson 3</span>
                </a>

            </div>

        </div>
        <script>
            import {getUrlParams} from "../../../js/utils";

            const params  = getUrlParams();
            if (params.from) {
                document.querySelector('a').setAttribute('href', params.from)
            }
        </script>
    </div>

</GameLayout>