---
import GameLayout from "../../../layouts/GameLayout.astro";

---

<GameLayout title="Enter The library - Level 5"
            description="GAME Datapond - Enter the library - level 5">

    <div class="row center">
        <div class="page-width">

            <h1 class="indie" tabindex="-1">
               Lesson 3/3 :
            </h1>

            <h4 class="indie" tabindex="-1">
                Now we will add fake money to it.
            </h4>

            <h4 class="indie" tabindex="-1">
                Follow the following step carefully
            </h4>

            <h5 class="indie" tabindex="-1">
                1 - Open your app, and choose the Shasta Network.
                <br />
                2 - Copy your public Key address - The equivalent of your bank account.
                <br />
                3 - OPen <a href="https://shasta.tronex.io/" target="_blank" class="link text-h5"> this link.</a> and paste your public key
                <br />
            </h5>
            <h4 class="indie">
                You should now have 2000 TRX in your account.
            </h4>

            <div class="row around q-my-lg">
                <a href="/game/crypto_check" class="outline text-accent col-md-4 col-lg-3 col-6  text-h3 center q-pa-md">
                    <span><i class="las la-clock"></i>Assessment</span>
                </a>
            </div>
        </div>
        <script>
            import {getUrlParams} from "../../../js/utils";

            const params  = getUrlParams();
            if (params.from) {
                document.querySelector('a').setAttribute('href', params.from)
            }
        </script>
    </div>

</GameLayout>