---
import GameLayout from "../../../layouts/GameLayout.astro";
import {Image} from'astro:assets';
import Bird from '../../../img/game/firstComboBird.png';
---

<GameLayout title="Welcome To the library!"
             description="The Game is now starting. you just have entered into the first decentralized cybe library">

    <div class="row center window-height window-width">
        <div class="col-md-4 col-sm-9 col-12 ">
            <Image src={Bird} alt="Generated with GenCraft" class="fit"/>
        </div>
        <div class="col-md-8 col-12  q-pa-md">
            <h1>
                Hold on, I have noticed you are interested by this book !
            </h1>
            <h4>I have saved it for you.</h4>
            <h4 class="indie-flower-regular text-primary">You are still a visitor, you need to unlock the Apprentice Key to download it later</h4>
            <div class="row">
                <button id="back" class="outline q-mt-md col-12 col-md-6 "><h2>Cool ! Let's go</h2></button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('back').addEventListener('click', () => {
            const urlParams = new URLSearchParams(window.location.search);
            const from = urlParams.get('from');
            if (from  && from.length>0){
                console.log('redirecting back to ', decodeURIComponent(from));
                window.location.replace(decodeURIComponent(from));
            } else {
                console.log('new location');
                window.location.replace("/topicIndex");
            }
        })
    </script>
</GameLayout>