
---
import GameLayout from "../../../layouts/GameLayout.astro";
import {Image} from'astro:assets';
import Bird from '../../../img/game/welcomingBird.png';
---

<GameLayout title="Guide to the library super computer"
            description="GAME Datapond - Enter the library - Npc for exploring the library super computer">

    <div class="row center window-height window-width">
        <div class="col-lg-3 col-md-4 col-sm-7 col-12 ">
            <Image src={Bird} alt="Generated with GenCraft" class="fit"/>
        </div>
        <div class="col-md-8 col-12  q-pa-md">
            <h1 class="">
                <strong class="text-secondary indie-flower-regular">Please enter the Library.</strong>
            </h1>

            <h4 class="indie-flower-regular">Me and my friends are here to guide you trough your journey here.</h4>

            <div class="row around">


                <a href="/game/ai"  class="text-center outline q-mt-md col-11 col-md-5 indie-flower-regular"><h2>Hello, are you AI?</h2></a>

                <a href="/game/computer_library"  class="outline q-mt-md col-11 col-md-5 indie-flower-regular"><h2 class="text-positive">Is this a Game?</h2></a>

                <a href="/topicIndex" id="skip" class="outline q-mt-md col-12 col-md-5  indie-flower-regular"><h2 class="text-negative">Let's go !</h2></a>
            </div>
        </div>
    </div>

</GameLayout>