---
import GameLayout from "../../../layouts/GameLayout.astro";
import Room1 from '../../../img/game/computer_room3.png';
import Room2 from '../../../img/game/computer_room4.png';
import NarationImgLeft from "../../../components/narationImgLeft.astro";
import NarationImgRight from "../../../components/narationImgRight.astro";
---

<GameLayout title="Enter The library - Level 5"
            description="GAME Datapond - Enter the library - level 5">
    <div class="row center">
        <div class="page-width">
            <div class="row around q-my-lg desktop-hide">
                <h4 class="indie"  tabindex="-1">
                    This game is designed on top of crypto-chain technologies, using Arweave for a permanent storage,
                    and solidity for storing votes.
                </h4>
                <br/>
                <h4 class="indie text-accent"  tabindex="-1">
                    However, it is <strong>not</strong> necessary to have a wallet to play.
                </h4>
                <br/>
                <h4 class="indie text-negative" tabindex="-1">
                    The mobile wallet is currently offline at the moment. We can send you an email as soon as it is
                    online.
                </h4>
                <div class="col-md-5 col-lg-4 col-sm-8 col-12 q-pa-sm q-mt-xl">
                    <a href="/game/level_4_construction" class="outline text-accent fit  text-h3 center q-pa-md">
                        <span><i class="las la-clock"></i> Notify me by mail</span>
                    </a>
                </div>
                <div class="col-md-5 col-lg-4 col-sm-8 col-12 q-pa-sm">
                    <a href="/study"
                       class="outline text-primary fit text-h3 center q-pa-md desktop-hide">
                        <span><i class="las la-graduation-cap"></i> Continue</span>
                    </a>
                </div>
            </div>
            <div class="desktop-only">
                <h4 class="indie q-pa-md q-my-lg" tabindex="-1">
                    This game is designed on top of crypto-chain technologies, using Arweave for a permanent storage,
                    and solidity for storing votes.
                </h4>
                <h4 class="indie q-pa-md q-my-lg" >
                    We support TRX - TRON
                </h4>

                <NarationImgLeft img={Room1} alt="gencraft">
                    <h2>TRON (TRX) on TestNet</h2>
                    <h4>Download and install TronLink by clicking <a href="" target="_blank" class="link text-h4">
                        here</a></h4>
                </NarationImgLeft>

                <NarationImgRight img={Room2} alt="gencraft">
                    <h5 class="indie">
                        1 - Open your TronLink app, and select the Shasta Network.
                        <br/>
                        2 - Copy your public Key address
                        <br/>
                        3 - Open <a href="https://shasta.tronex.io/" target="_blank" class="link text-h5"> this
                        link.</a> and paste your public key in there.
                        <br/>
                    </h5>
                </NarationImgRight>


                <h4 class="indie ">
                    You should now have 2000 TRX in your account.
                </h4>

                <div class="row around q-my-lg ">
                    <a href="/game/crypto_check"
                       class="outline text-accent col-md-4 col-lg-3 col-6  text-h3 center q-pa-md">
                        <span><i class="las la-chevron-right"></i> Continue</span>
                    </a>
                </div>
            </div>
        </div>
        <script>
            import {getUrlParams} from "../../../js/utils";

            const params = getUrlParams();
            if (params.from) {
                document.querySelector('a').setAttribute('href', params.from)
            }
        </script>
    </div>

</GameLayout>