---
import GameLayout from "../../../layouts/GameLayout.astro";
---

<GameLayout title="Enter The library - Level 5"
            description="GAME Datapond - Enter the library - level 5">

    <div class="row center">
        <div class="page-width">

            <h1 class="indie" tabindex="-1">
                No worries
            </h1>

            <h4 class="indie" tabindex="-1">
                This game is designed on top of crypto-chain technologies.
            </h4>

            <h4 class="indie" tabindex="-1">
                However, it is <strong>not</strong> necessary to have a wallet to play.
            </h4>

            <h4 class="indie" tabindex="-1">
                To be able to unlock voting power - you will need to reach level 7 because you don't have a wallet.
            </h4>


            <h4 class="indie" tabindex="-1">
                So here you have a choice, either we teach you next how to install and fund a crypto wallet with fake money, or you wait until you reach level 7 to unlock voting.
            </h4>

            <div class="row around q-my-lg">

                <div class="col-md-5 col-lg-4 col-12 q-pa-sm">
                    <a href="/game/level_4_construction" class="outline text-accent fit  text-h3 center q-pa-md">
                        <span><i class="las la-clock"></i> I will wait</span>
                    </a>
                </div>

                <div class="col-md-5 col-lg-4 col-12 q-pa-sm">
                    <a href="/game/crypto_lesson1"
                       class="outline text-primary fit text-h3 center q-pa-md desktop-only">
                        <span><i class="las la-graduation-cap"></i> Teach me!</span>
                    </a>
                    <button disabled="disabled"
                            class="outline text-primary fit text-h3 center q-pa-md desktop-hide">
                        <span><i class="las la-graduation-cap"></i> Teach me!</span>
                        <span class="text-negative text-h4">Not available on Mobile</span>
                    </button>
                </div>
            </div>

        </div>
        <script>
            import {getUrlParams} from "../../../js/utils";

            const params  = getUrlParams();
            if (params.from) {
                document.querySelector('a').setAttribute('href', params.from)
            }
        </script>
    </div>

</GameLayout>