
#bookActivityWithTabs{
  a {

    &.vote_ok{
      i.vote_ok{
        display: inline-block;
      }
    }
   &.vote_poor{
     i.vote_poor{
       display: inline-block;
     }
   }
    &.vote_great{
      i.vote_great{
        display: inline-block;
      }
    }
    &.vote_forbidden {
      i.vote_forbidden{
        display: inline-block;
      }
    }

  }

}

