.ribbon-container {
  overflow: hidden; /* required */
  min-height: 3rem;
  position: relative; /* required  for demo*/

  .ribbon {
    margin: 0;
    padding: 0;
    background: $positive;
    color:black;
    padding:0.3px 0;
    position: absolute;
    top:0;
    right:0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
  }
  .ribbon:before,
  .ribbon:after {
    content: '';
    position: absolute;
    top:0;
    margin: 0 -1px; /* tweak */
    width: 100%;
    height: 100%;
    background: $positive;
  }
  .ribbon:before {
    right:100%;
  }

  .ribbon:after {
    left:100%;
  }
}

