#left-indicator, #right-indicator, #top-indicator, #down-indicator {
  position: fixed;
  z-index:29000;
  @extend .flex;
  @extend .center;
  @extend .text-h2;
  @extend .text-black;
  opacity: 0;


  &.show-blink {
    opacity: 1 ;
    //animation: ease-in 0.5s;
    animation: fade 2s linear;
  }
}

@keyframes fade {
  0%,100% { opacity: 0 }
  33% { opacity: 1 }
  33% { opacity: 0.75 }
  99% { opacity: 1 }
}

#left-indicator{
  top: 0;
  left:0;
  height: 100vh;
  width: 50vw;
}
#right-indicator{
  top: 0;
  left:50vw;
  height: 100vh;
  width: 50vw;
}
#top-indicator{
  top: 0;
  left:0;
  height: 50vh;
  width: 100vw;
}
#down-indicator{
  bottom: 0;
  left:0;
  height: 50vh;
  width: 100vw;
}


#mobile-zoom {
  position: fixed;
  top:0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 100dvh;
  z-index: 200000;
}
#preview-img-2 {

  text-align: center;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
#preview-img-1 , #preview-img-2 {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  z-index: 13000;
  background-color: $blue-grey-14;
  &.active {
    z-index: 13001;
  }
}

#mobile-book-preview-1,
#mobile-book-preview-2,
#mobile-book-missions,
#preview-desktop-1,#preview-desktop-2 {
  position: fixed !important;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  z-index: 120000;
  min-height: 100dvh;
  max-height: 100dvh;
  overflow: auto;
  height: 100dvh;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;

  background: $dark;

  div[name="missionSwipeInfo"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

  }

  .desktop-img-resizable {
    position: absolute;
  }


  &.active {
    display: flex;
  }

  img {
    &.hidden {
      display: none;
    }
  }
}

#mobile-book-missions {
  background-color: transparent;;
}


.title-assesment {
  .checkbox.check{
    display: none;
  }
  &.selected {
    .checkbox.unchecked {
      display: none;
    }
    .checkbox.check{
      display: initial !important;
    }

  }

}