@import "./_variables.scss";
@import "../typo/_colors.scss";

#bookActivityContainer {
  max-height: calc(100vh - $navHeight);
}

hr {
  background: $blue-grey-10;
  padding: 0;
  margin: 0;
  width: 100%;
}

header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  min-height: $navHeight;
  max-height: $navHeight;
  height: $navHeight;
  background: $dark-page;
  z-index: 1000 !important;

  &.hidden {
    transform: translateY(-110%)
  }

  //&.bordered {
  //  border-bottom: $layout-border;
  //}
}

footer {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: $navHeight;
  max-height: $navHeight;
  height: $navHeight;
  background: $dark-page;
  z-index: 12000 !important;

}

@media only screen and (max-width: $breakpoint-xs) {
  header.desktop {
    display: none;
  }
}

@media only screen and (min-width: $breakpoint-xs) {
  header.mobile {
    display: none;
  }
}

body.desktop {
  footer {
    display: none !important;
  }
}

@media screen and (orientation: landscape) {
  body.tablet, body.desktop {
    footer {

      display: none !important;
    }
  }
}


@media only tv {
  html {
    padding: 2rem;
  }
}

body {
  position: relative;
  overflow: hidden;
  scrollbar-color: $primary !important;
  min-height: 100vh;
  min-width: 100vw;

}



