@use 'sass:math';
@import '../helpers/string.scss';
@import '../helpers/math.scss';
@import './variables';
@import '../helpers/math.scss';

@mixin fg($name, $size) {
  $noProcNotZero: $size > 0;

  @media (min-width: $size) {
    #{str-fe('.col<name>', $name, $noProcNotZero)} {
      &, &-auto, &-grow, &-shrink {
        .row > &, .flex > & {
          width: auto;
          min-width: 0;
          max-width: 100%;

          .column > &, .flex > & {
            height: auto;
            min-height: 0;
            max-height: 100%;
          }
        }

        & {
          flex: 10000 1 0%;
        }

        &-auto {
          flex: 0 0 auto;
        }

        &-grow {
          flex: 1 0 auto;
        }

        &-shrink {
          flex: 0 1 auto;
        }
      }

      @for $i from 0 through $flex-cols {
        $ic: quote('' + $i);
        #{str-fe('.col<name>-<i>', $name, $noProcNotZero, $ic)} {
          @extend .col#{$name}-auto;
        }
        .row {
          #{str-fe('> .col<name>-<i>', $name, $noProcNotZero, $ic)} {
            height: auto;
            width: toFixed(percentage(math.div($i, $flex-cols)), 10000);
          }

          @if $i != 0 or $name != '' {
            #{str-fe('> .offset<name>-<i>', $name, $noProcNotZero, $ic)} {
              margin-left: toFixed(percentage(math.div($i, $flex-cols)), 10000);
            }
          }
        }

        .column {
          #{str-fe('> .col<name>-<i>', $name, $noProcNotZero, $ic)} {
            height: toFixed(percentage(math.div($i, $flex-cols)), 10000);
            width: auto;
          }


          @if $size == 0 and $i == $flex-cols {
            .row > .col-all {
              height: auto;
              flex: 0 0 100%;
            }
          }
        }
      }
    }
  }
}
