
.justify- {
  &start {
    justify-content: flex-start;
  }

  &end {
    justify-content: flex-end;
  }

  &center {
    justify-content: center;
  }

  &between {
    justify-content: space-between;
  }

  &around {
    justify-content: space-around;
  }

  &evenly {
    justify-content: space-evenly;
  }
}

.start {
  align-items: flex-start;
  justify-content: flex-start;
}

.center {
  justify-content: center;
  align-items: center;
}

.end {
  justify-content: flex-end;
  align-items: flex-end;
}

.stretch {
  align-items: stretch;
  align-content: stretch;
}

.between {
  justify-content: space-between;
  align-content: space-between;
}

.around {
  justify-content: space-around;
  align-content: space-around;
}

.evenly {
  justify-content: space-evenly;
  align-content: space-evenly;
}

.items- {
  &start {
    align-items: flex-start;
  }

  &end {
    align-items: flex-end;
  }

  &center {
    align-items: center;
  }

  &baseline {
    align-items: baseline;
  }

  &stretch {
    align-items: stretch;
  }
}

.content- {
  &start {
    align-content: flex-start;
  }

  &end {
    align-content: flex-end;
  }

  &center {
    align-content: center;
  }

  &stretch {
    align-content: stretch;
  }

  &between {
    align-content: space-between;
  }

  &around {
    align-content: space-around;
  }
}

.self- {
  &start {
    align-self: flex-start;
  }

  &end {
    align-self: flex-end;
  }

  &center {
    align-self: center;
  }

  &baseline {
    align-self: baseline;
  }

  &stretch {
    align-self: stretch;
  }
}
