@use 'sass:math';

@import '../helpers/string.scss';
@import '../helpers/math.scss';
@import "./_mixins.sass";


.row, .column, .flex {
  display: flex;
  flex-wrap: wrap;

  flex-basis: 100%;
  position: relative;
  &.inline {
    display: inline-flex;
  }
}

.row.reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;
  }
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.reverse-wrap {
  flex-wrap: wrap-reverse;
}

.order- {
  &first {
    order: -10000;
  }

  &last {
    order: 10000;
  }

  &none {
    order: 0;
  }
}

.flex-center {
  @extend .items-center;
  @extend .justify-center;
}

@each $name, $size in $sizes {
  @include fg("-" + $name, $size);
}

