$space-base: 1rem !default;
$space-x-base: $space-base !default;
$space-y-base: $space-base !default;

$flex-cols: 12 !default;
$flex-gutter-xs: ($space-base * .25) !default;
$flex-gutter-sm: ($space-base * .5) !default;
$flex-gutter-md: $space-base !default;
$flex-gutter-lg: ($space-base * 1.5) !default;
$flex-gutter-xl: ($space-base * 3) !default;


$flex-gutter: ('none': 0, 'xs': $flex-gutter-xs, 'sm': $flex-gutter-sm, 'md': $flex-gutter-md, 'lg': $flex-gutter-lg, 'xl': $flex-gutter-xl) !default;

$breakpoint-xs: 599px !default;
$breakpoint-sm: 1023px !default;
$breakpoint-md: 1439px !default;
$breakpoint-lg: 1919px !default;

$sizes: ('xs': 0, 'sm': ($breakpoint-xs + 1), 'md': ($breakpoint-sm + 1), 'lg': ($breakpoint-md + 1), 'xl': ($breakpoint-lg + 1)) !default;
$breakpoint-xs-max: (map-get($sizes, "sm") - 0.02) !default;
$breakpoint-sm-min: map-get($sizes, "sm") !default;
$breakpoint-sm-max: (map-get($sizes, "md") - 0.02) !default;
$breakpoint-md-min: map-get($sizes, "md") !default;
$breakpoint-md-max: (map-get($sizes, "lg") - 0.02) !default;
$breakpoint-lg-min: map-get($sizes, "lg") !default;
$breakpoint-lg-max: (map-get($sizes, "xl") - 0.02) !default;
$breakpoint-xl-min: map-get($sizes, "xl") !default;


$dimmed-background       : rgba(0, 0, 0, .4) !default;
$light-dimmed-background : rgba(255, 255, 255, .6) !default;

$navHeight: 5rem;