@import "./_variables.scss";


body.mobile {
  .desktop-only {
    display: none !important;
  }
  .tablet-only {
    display: none !important;
  }
  .tablet-hide {
    display: flex !important;;
  }
  .desktop-hide {
    display: flex !important;;
  }
  .mobile-hide {
    display: none !important;
  }
}
body.tablet {
  .desktop-only {
    display: none !important;
  }
  .tablet-hide {
    display: none !important;
  }
  .mobile-hide {
    display: flex !important;
  }
  .desktop-hide {
    display: flex !important;;
  }
  .mobile-hide {
    display: none !important;
  }
}
body.desktop {
  .mobile-only {
    display: none !important;
  }
  .tablet-only {
    display: none !important;
  }
  .desktop-hide {
    display: none !important;
  }
  .tablet-hide {
    display: flex  !important;;
  }
  .mobile-hide {
    display: flex !important;;
  }
}

body.game-layout {
  img {
    border-radius: 1rem;
  }
}


//$platforms: desktop, mobile, tablet;
//$display: flex;
//@each $type in $platforms {
//  .#{$type}-only {
//    display:none !important;
//  }
//  body.#{$type} {
//    .#{$type}-only {
//      display: $display !important;
//    }
//  }
//  .#{$type}-hide {
//    display: none;
//  }
//
//  body:not(.#{$type}) .#{$type}-hide {
//    display: $display ;
//  }
//
//
//  body.#{$type} .#{$type}-hide {
//    display: none !important;
//  }
//
//
//}

.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: 0 !important;
}
.no-border-radius {
  border-radius: 0 !important;
}
.no-box-shadow {
  box-shadow: none !important;
}
.no-outline {
  outline: 0 !important;
}

.readonly {
  cursor: default !important;
}
.disabled, [disabled] {
  &, * {
    outline: 0 !important;
    cursor: not-allowed !important;
  }
}
.disabled, [disabled] {
  opacity: .6 !important;
}

.hidden {
  display: none !important;
}
.invisible, .invisible * {
  visibility: hidden !important;
  transition: none !important;
  animation: none !important;
}
.transparent {
  background: transparent !important;
}

.overflow-auto {
  overflow: auto !important
}
.overflow-hidden {
  overflow: hidden !important
}
.overflow-hidden-y {
  overflow-y: hidden !important
}

.dimmed, .light-dimmed {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0 #{"/* rtl:ignore */"};
    bottom: 0;
    left: 0 #{"/* rtl:ignore */"};
  }
}
.dimmed:after {
  background: $dimmed-background !important
}
.light-dimmed:after {
  background: $light-dimmed-background !important
}


@media all and (orientation: portrait) {
  .orientation-landscape {
    display: none !important
  }
}

@media all and (orientation: landscape) {
  .orientation-portrait {
    display: none !important
  }
}

@media screen {
  .print-only {
    display: none !important
  }
}
@media print {
  .print-hide {
    display: none !important
  }
}

@media (max-width: $breakpoint-xs-max) {
  .xs-hide, .gt-xs, .sm, .gt-sm, .md, .gt-md, .lg, .gt-lg, .xl {
    display: none !important
  }
}
@media (min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max) {
  .sm-hide, .xs, .lt-sm, .gt-sm, .md, .gt-md, .lg, .gt-lg, .xl {
    display: none !important
  }
}
@media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
  .md-hide, .xs, .lt-sm, .sm, .lt-md, .gt-md, .lg, .gt-lg, .xl {
    display: none !important
  }
}
@media (min-width: $breakpoint-lg-min) and (max-width: $breakpoint-lg-max) {
  .lg-hide, .xs, .lt-sm, .sm, .lt-md, .md, .lt-lg, .gt-lg, .xl {
    display: none !important
  }
}
@media (min-width: $breakpoint-xl-min) {
  .xl-hide, .xs, .lt-sm, .sm, .lt-md, .md, .lt-lg, .lg, .lt-xl {
    display: none !important
  }
}