---
import Layout from "../layouts/Layout.astro";
---

<Layout title="DataPond - Common Questions & Answers about Apprentice Keys"
             description="What access gives me an Apprentice Key? Can I buy an apprentice Key? What is a Student program ?">
    <div class="row">

        <div class="col-md-10 col-12 q-px-md">

            <h1>Apprentice Keys FAQ</h1>

            <button type="button" id="q1" class="q-ma-sm outline indie-flower-regular text-h6 text-primary q-pa-md">
                Q1. What access gives me an Apprentice Key?
            </button>
            <br/>

            <button type="button" id="q2" class="q-ma-sm outline indie-flower-regular text-h6 text-primary q-pa-md">
                Q2. Can I buy an apprentice Key?
            </button>
            <br/>
            <button type="button" id="q3" class="q-ma-sm outline indie-flower-regular text-h6 text-primary q-pa-md">
                Q3. What is a Student program ?
            </button>
            <br/>

            <button type="button"
                    id="q4" class="q-ma-sm outline indie-flower-regular text-h6 text-primary q-pa-md">
                Q4. Student Program vs Apprentice Key - what's the difference ?
            </button>
            <br/>


        </div>

        <div id="FAQ1" class="hidden faq text-h4 flex text-center center " style="line-height: 2">
            <h3 class="text-primary ">Q1. What access gives me an Apprentice Key?</h3>
            <h4>The Apprentice key starts downloading all your selected books</h4>
            <h4>It also unlocks the book reader interface.</h4>
            <h4>It Unlocks some blockchain voting interface</h4>

            <div class="row center">
                <button class="col-4 close link text-h3 outline text-center center">
                    <span>Close</span>
                </button>
            </div>

        </div>

        <div id="FAQ2" class="hidden faq text-h4 row text-center center " style="line-height: 2">
            <div class="col-md-10 col-12">
                <h3>Q2. Can I buy an apprentice Key?</h3>
                <h4>No, you cannot buy one apprentice key. But you can make a Student program</h4>

                <button class="text-h4 outline close">Close</button>
            </div>

        </div>

        <div id="FAQ3" class="hidden faq text-h4 row text-center center " style="line-height: 2">
            <div class="col-md-10 col-12">
                <h3>Q3. What is a Student program ?</h3>
                <h4>This is a one time donation program - financing the generation of dozens of free Apprentice
                    keys.</h4>
                <h4>The student program is a project in progress, follow updates here</h4>
                <button class="text-h4 outline close">Close</button>
            </div>
        </div>

        <div id="FAQ4" class="hidden faq text-h4 row text-center center " style="line-height: 2">
            <div class="col-md-10 col-12">
                <h3>Q4. Student Program vs Apprentice Key - what's the difference ?</h3>
                <h4>You can only WIN an apprentice key playing trough the game. All keys are free.</h4>
                <h4>Making donations is optional to play the game fully.</h4>
                <button class="text-h4 outline close">Close</button>
            </div>
        </div>
    </div>

</Layout>

<script>
    const questions = ["q1", "q2", "q3", "q4"].map((id) => document.getElementById(id));

    const targets = ["FAQ1", "FAQ2", "FAQ3", "FAQ4"].map((id) => document.getElementById(id));

    questions.forEach((elem, index) => {
        elem.addEventListener('click', () => {
            console.log('click on ', elem)
            for (let target of targets) {
                target.classList.add('hidden')
            }
            targets[index].classList.remove('hidden')
        })
    })

    document.querySelectorAll('.close').forEach(elem => {
        elem.addEventListener('click', () => {
            targets.forEach(target => {
                target.classList.add('hidden')
            })
        })
    })

</script>
<style>
    .faq {
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;

        &:after {
            content: ''
        }
    }
</style>