---
/**



    **/
---

<script>/**
- Is the book in DB ?
- Is the book parsed ?
- Load the favorite pages - if any
- Load last page
**/
import {$dq, $dqa} from "../js/utils";

const allPages = [];

const AllPagesHtml  = allPages.map((page, pageNumber) => {
    return `
<div id="page_${pageNumber}" style="aspect-ratio: 1/page.ratio" class="bg-white ">
    <img  style="object-fit: cover" class="hidden" />
    <div class="absolute-bottom text-subtitle1 text-center" >
      <small>page</small> {{ pageNumber + 1 }}
    </div>
    <div class="hidden error" >
      Error
    </div>
    <div class="hidden loading">
      Loading
    </div>
    <div class="hidden notLoaded" >
      Not loaded
    </div>
  </div>`
});



const renderPage = (num, src) => {
    $dq(`#page_${num} img`).setAttribute("src", src)
};

const render = (numPages: number) => {
    if (numPages<50) {
        // pre-render all pages
    } else {

    }
};

new Promise((resolve, reject) => {



})
</script>


