---

import Layout from "../layouts/Layout.astro";
import Page from "../components/Page.astro";
const feedbackFormUrl = "https://95618cfe.sibforms.com/serve/MUIFAHoJqsiJP4nEwRO9vUKuZT587-LIfE6WAs0JlbTO7RpzD6RYXVctUqb7PLeSglbPWgdWwAsFMMtmKWQSs_Lk9kPjDLH1Pe6cm2eyIgKWUIwM54KuAVv1V0irmcqrHOQ0TtBXvbqR-IPVLw7je3vzKXkWK_nOG9gNzp39JZyebijt7bxie6FdK3h-QAF13GjoHwloE2gyQceC"
const contactUrl ="https://95618cfe.sibforms.com/serve/MUIFACmOc5RJEBWrR2z04wzA7GAZa50koxneHJOPiKUoTMJuUPqraRg3WqBvMNNndtliUv_bibiXOXiT_sMIJzvpHaLVJ2ViQS7AFGorFwJSXvf0L9W6-H4kSkj96D9hHm5gUWaWnnwMO1oicFo8C75oM55kYVWe7g3uU80feE9bJVSGmjNyHdfOSnLoeutYsnSGjLTXlU2M7uew";
---

<Layout title="DataPond - Library Contact & Feedback" description="Want to get in touch about our project, or give some feedback, please fill up those forms" >

    <Page>

        <div class="row">
        <iframe class="col-12 col-md-6"

                src={feedbackFormUrl}
                frameborder="0" scrolling="auto" allowfullscreen
                style="display: flex;height:100%;min-height: 850px;margin-left: auto;margin-right: auto;max-width: 100%;">

        </iframe>

        <iframe class="col-12 col-md-6" src={contactUrl}
                frameborder="0" scrolling="auto" allowfullscreen
                style="display: flex;height:100%;min-height: 850px;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>

        </div>

    </Page>

</Layout>