---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Donate to the C-Licence - Crypto addresses" description="Donate to the C-Licence by datapond. Help us build the greatest decentralized D-Safe Book Library">
    <section id="store" class="row around">
        <div class="col-md-10 q-pa-md col-12">
            <h4>Donate Now via Crypto</h4>

            <div class="row">
                <div class="col-12 col-md-6 q-my-sm text-left q-pa-md">
                    <button class="full-width self-stretch no-uppercase text-left copy-wallet"
                            data-wallet="32SQ1pGUCe5BWp8ZKvGg4YYXN4raojDqwE">
                        <div>
                            <strong class="text-h6">BTC</strong> click here to copy address <br /> <u><small>32SQ1pGUCe5BWp8ZKvGg4YYXN4raojDqwE</small></u>
                        </div>
                    </button>
                </div>



                <div class="col-12 col-md-6 q-my-sm text-left q-pa-md">
                    <button class="full-width self-stretch no-uppercase text-left copy-wallet"
                            data-wallet="DL4UHC5LUoF9ZgNacmmpdUhNzWjUgsV9gb">
                        <div>
                            <strong class="text-h6">DOGE</strong> click here to copy address <br /><small><u>DL4UHC5LUoF9ZgNacmmpdUhNzWjUgsV9gb</u></small>
                        </div>
                    </button>
                </div>

                <div class="col-12 col-md-6 q-my-sm text-left q-pa-md">
                    <button class="full-width self-stretch no-uppercase text-left copy-wallet"
                            data-wallet="addr1vyz9vvw05ky7hvl36p8l7kfaxumpfdyhgakaxs9z04c0ygqfrsaqv">
                        <div>
                            <strong class="text-h6">ADA</strong>  click here to copy address <br /> <small><u>addr1vyz9vvw05ky7hvl36p8l7kfaxumpfdyhgakaxs9z04c0ygqfrsaqv</u></small>
                        </div>
                    </button>
                </div>


                <div class="col-12 col-md-6 q-my-sm text-left q-pa-md">
                    <button class="full-width self-stretch no-uppercase text-left copy-wallet"
                            data-wallet="0x0281dd55dc5e178b053e93ee124ceab57ac03e6b">
                        <div>
                            <strong class="text-h6">LTC</strong> click here to copy address<br /> <small><u>MF4wYgM5h8vWy9smZzkQjpnwe78DTEVyA3</u></small>
                        </div>
                    </button>
                </div>

                <div class="col-12 col-md-6 q-my-sm text-left q-pa-md">
                    <button class="full-width self-stretch no-uppercase text-left copy-wallet"
                            data-wallet="TKe1PZiSo6ozaRG4qiHCuoJFa79MjZ5ha6">
                        <div>
                            <strong class="text-h6">TRX</strong> click here to copy address<br /> <small><u>TKe1PZiSo6ozaRG4qiHCuoJFa79MjZ5ha6</u></small>
                        </div>
                    </button>
                </div>

            </div>
            <hr class="q-my-xl"/>
            <h4>Donate Now via Bank</h4>

            <a href="/donate">
                Click here for donation by card
            </a>
            <hr class="q-my-xl"/>
        </div>

    </section>

    <script>
        document.querySelectorAll(".copy-wallet").forEach((wallet) => {
            wallet.addEventListener('Click', (e) => {
                const address = wallet.getAttribute("data-wallet")
                navigator.clipboard.writeText(address);
                e.preventDefault()
            })
        })
    </script>

</Layout>