---
import Layout from '../layouts/Layout.astro';
const dSafe = [
    `No In 'App Purchases'`, 'No Ads', 'No Porn', 'No AI', 'No History', 'No Fiction books', 'No Stolen content',  'No Spiritual content', 'No Medicine content', 'No Content promoting violence or hatred', 'No Political content', 'No Social Media content', 'No Video',  'No content related to destruction of bio-diversity'
];
---
<Layout title="The D-Licence - D-Safe " description="The D-licence. No centralization, Creative commons, Permanent">
    <section id="d-licence"  class="row center q-pa-md">
        <div class="col-md-10 col-12 ">
            <div class="row">
                <h4 class="text-primary">The D-Licence</h4>

                <p >
                    This licence created by @datapond inherits all attributes of a Creative Commons licence.
                    <strong>Attribution, Non Commercial, No Modification.</strong>
                </p>

                <h5 class="text-accent">No Tangible assets allowed</h5>

                <p >
                    DataPond upholds strict guidelines, prohibiting tangible assets and certain content.
                    Financial transactions, wallet custody, private data exchange, and books with commercial distribution licenses are not permitted.
                    This policy ensures a safe and focused environment, fostering knowledge sharing without
                    distractions or potential risks associated with financial activities or commercial content.
                </p>


                <h5 class="text-accent">No - Centralization</h5>

                <p >
                    In traditional models, tangible assets often serves as the backbone of systems, representing centralization and control.
                </p>
                <p >
                    By removing all possible financial risks, we detach ourself from ALL security requirements needed in modern software design.
                </p>
                <p >
                    datapond harness the most from it unique crypto-architecture.
                </p>

                <h5 class="text-accent">No Account required</h5>

                <p >
                    All access to D-Licenced content must be made  publicly available without the need to get an account.
                </p>
                <p >
                    <strong>By ensuring the availability of 100% of the content account-less</strong>, D-licence content is a public good openly managed by the public.
                </p>


            </div>
        </div>
    </section>
    <hr/>
    <section id="c-licence"  class="row center q-pa-md">

        <div class="col-md-10 col-12 ">
            <h4 class="text-primary">The Community Licence</h4>

            <h5 class="text-accent">
                <i class="las la-hammer"></i> In construction
                <!--<a class="text-negative text-bold text-h4" href="/donate">Donate </a>-->
            </h5>
            <!--<h4 class="text-accent"> A <strong>Community </strong> Licence</h4>-->

            <!--<p>-->
            <!--    Introducing The Library: an ethical product that stands as a testament to community-driven innovation.-->
            <!--</p>-->
            <p>Funded by and built for the community, The Library embodies the spirit of collaboration and collective
                progress. </p>
            <p>It serves as a hub for knowledge exchange, cultural enrichment, and empowerment. </p>
            <!--<p>But its potential for growth and evolution lies in the hands of its users. </p>-->
            <!--<p>By donating to the Community License, you unlock the community's voting power, enabling you to shape The-->
            <!--    Library's next public evolution. </p>-->
            <!--<p>Your contribution doesn't just support a platform; it fuels a movement towards democratized access to-->
            <!--    information and resources. </p>-->
            <!--<p>Join us in shaping the future of The Library and empowering communities worldwide. </p>-->

            <!--<h4 class="text-accent"> A permanent contribution based on smart contracts</h4>-->

            <!--<p>After graduating the Apprentice level, you will unlock access to the <strong>permanent book suggestion</strong> </p>-->

            <!--<p>You will also unlock some special alley, and access the library transparent project books.</p>-->


            <!--<h4 class="text-accent"> Respect of all Laws</h4>-->
            <!--<p>We will to collaborate with every state legal systems</p>-->

            <!--<h4 class="text-accent"> A Smart contract Automation</h4>-->
            <!--<p>A D-GvtSafe governmental public access program for grants and public systems integrations.</p>-->

            <!--<div class="row center q-py-xl">-->
            <!--    <a class="no-uppercase  text-h6 text-negative" href="/donate">Help me building a team !</a>-->
            <!--</div>-->
        </div>
    </section>
    <hr/>
    <section id="dsafe" class="row center q-pa-md">
        <div class="col-md-10 col-12 ">
            <h4 class="text-primary">
                <strong class="text-secondary">D-<small class="text-positive">SAFE</small> for children, adults and plants.</strong>
            </h4>
            <h5 class="text-negative">
                Warning: <strong class="text-positive">Non fiction</strong> <strong>only</strong> content
            </h5>

            <h6>
                {dSafe.map(text => <span class="q-mx-sm"><span class="classification">{text}</span>, <span class="text-positive text-thin"> No Fiction</span></span>, )}
            </h6>
            <div class="row">
                <div class="text-left outline col-xl-5 col-md-7 col-12 no-uppercase text-primary text-body">
                    <i class="las la-bolt"></i>
                    <i class="las la-cloud-sun-rain"></i>
                    <i class="las la-wind"></i>
                    <i class="las la-rainbow"></i>
                    <i class="las la-moon"></i>
                    <i class="las la-sun text-accent"></i>
                    <i class="las la-sun text-accent"></i>
                    <i class="las la-sun text-accent"></i>
                    <i class="las la-water"></i>
                    <i class="las la-seedling"></i>
                    <i class="las la-seedling"></i>
                    <i class="las la-seedling"></i>
                    <i class="las la-leaf text-positive"></i>
                    <i class="las la-leaf text-positive"></i>
                    <i class="las la-leaf text-positive"></i>
                </div>
            </div>

        </div>
    </section>

</Layout>