---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DataPond C-Licence project: Donation page" description="Donate to the C-Licence and help us build the greatest decentralized D-SAFE book library">
    <section id="crypto" class="row  q-pa-md center">
        <a class="col-md-8 col-12  no-uppercase" href="/crypto" target="_blank">
            <div class="row">
                <div class="col-sm-3 col-12  bg-blue-grey center q-pa-md text-h5 text-negative">
                    donate <br/>
                    <big>crypto</big>
                </div>
                <div class="col-sm-9 col-12  bg-blue-grey text-left q-pa-md">
                    <h5 class="text-negative"> Legal D-Safe program.</h5>
                    <p><strong>A formula to calculate printed keys.</strong></p>
                    <p>Donations help us build a free public software.</p>
                </div>


            </div>
        </a>
    </section>

    <section id="student" class="row  q-pa-md center">
        <a class="col-md-8 col-12  no-uppercase" href="https://www.buymeacoffee.com/datapond/e/219502" target="_blank">
            <div class="row">


                <div class="col-sm-3 col-12  centertext-accent center align-center justify-center q-mt-xl rotate-45"
                     style="transform: rotate(7deg)">
                    <div class="bg-black q-pa-md  text-h4 ">
                        1.o<span class="text-body text-white "><span class="text-accent">nce</span>SILVER</span>
                    </div>
                </div>

                <div class="col-sm-9 col-12  bg-blue-grey text-left q-pa-md">
                    <h5 class="text-accent">Sponsor free access to students program.</h5>
                    <p><strong>25 free student and 5 free apprentice keys.</strong></p>
                    <p>Each new level 5 reached in the LIbrary unlocks access to <strong>1 Free Student
                        account</strong>.</p>


                    <div class="row end">
                        <img src="/astropond/src/img/logo-stripe.png" style="width: 13rem" alt="strip Payment" />
                    </div>
                </div>


            </div>
        </a>
    </section>

    <section id="apprentice" class="row  q-pa-md center">
        <a class="col-md-8 col-12  no-uppercase" href="https://www.buymeacoffee.com/datapond/e/222556">
            <div class="row">

                <div class="col-sm-3 col-12  centertext-accent center align-center justify-center q-mt-xl rotate-45"
                     style="transform: rotate(7deg)">
                    <div class="bg-black q-pa-md  text-h4 ">
                        4.o<span class="text-body text-white "><span class="text-accent">nces</span>SILVER</span>
                    </div>
                </div>


                <div class="col-sm-9 col-12  bg-blue-grey text-left q-pa-xs">
                    <h5 class="text-accent">Sponsor access to Free content suggestions </h5>
                    <p><strong>60 student keys, 20 apprentice keys</strong> + 10$ for marketing <br/></p>
                    <p>Each new level 5 account in unlocks access a Free Student account.</p>

                    <div class="row end">
                        <img src="/astropond/src/img/logo-stripe.png" style="width: 13rem" alt="strip Payment" />
                    </div>
                </div>
            </div>
        </a>
    </section>


    <section id="trades" class="row  q-pa-md center">
        <a class="col-md-8 col-12  no-uppercase" href="https://www.buymeacoffee.com/datapond/e/223300" target="_blank">
            <div class="row">


                <div class="col-sm-3 col-12  centertext-accent center align-center justify-center q-mt-xl rotate-45"
                     style="transform: rotate(7deg)">
                    <div class="bg-black q-pa-md  text-h4 ">
                        24.o<span class="text-body text-white "><span class="text-accent">nces</span>SILVER</span>
                    </div>
                </div>

                <div class="col-sm-9 col-12  bg-blue-grey text-left q-pa-xs">
                    <h5 class="text-accent">Sponsor advanced tradesmen projects.</h5>
                    <p><strong>500 student keys, 500 apprentice keys, and 500 tradesmen keys </strong> + 12o spent on
                        project development.<br/></p>
                    <p>Explore the projects when donating.</p>

                    <div class="row end">
                        <img src="/astropond/src/img/logo-stripe.png" style="width: 13rem" alt="strip Payment" />
                    </div>
                </div>
            </div>
        </a>
    </section>

    <section id="master" class="row  q-pa-md center">
        <a class="col-md-8 col-12  no-uppercase" href="https://www.buymeacoffee.com/datapond/e/241449" target="_blank">
            <div class="row">


                <div class="col-sm-3 col-12  centertext-accent center align-center justify-center q-mt-xl rotate-45"
                     style="transform: rotate(7deg)">
                    <div class="bg-black q-pa-md  text-h4 ">
                        1.ko<span class="text-body text-white "><span
                            class="text-accent"> x1000 onces</span>SILVER</span>
                    </div>

                </div>

                <div class="col-sm-9 col-12  bg-blue-grey text-left q-pa-md">
                    <h5 class="text-accent">Angel sponsor.</h5>
                    <p><strong>20.000 keys unlocked! </strong></p>
                    <p>Each new level 5 reached in the Library unlocks access to <strong>1 Free Student
                        account</strong>.</p>
                    <p>John Wayne, or public contributions, also open to receiving Gvt Grants - contact us for Grant
                        Programs</p>


                    <div class="row end">
                        <img src="/astropond/src/img/logo-stripe.png" style="width: 13rem" alt="strip Payment" />
                    </div>

                </div>


            </div>
        </a>
    </section>
</Layout>