---
import Layout from '../layouts/Layout.astro';


const windowsUrl = "/distro/windows/DataPond_Setup_0.7.7.exe";
const appImageUrl = "/distro/linux/Library-0.7.8.AppImage" ;

---

<Layout title="Datapond - Downloads" description="Video preview, Downoad for Windows installer and Linux AppImage">


    <section id="windows" class="row  q-pa-md center">
        <div class="col-md-10 col-12 ">            
            <h4 class="text-primary">
                v7.7 Install on Windows
            </h4>
            <h5>Download, execute and follow the instructions to install The Library V7.7:</h5>
            <h5>And bypass the certificate warning.</h5>
            <div class="row center">
                <a target="_blank" href={windowsUrl}
                    class="q-mt-lg outline no-uppercase text-h4 text-accent col-lg-4 col-md-6 col-sm-10 col-12">
                    <div class="text-h4  text-accent ">
                        Download <strong><u class="text-white">Installer</u></strong>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <hr/>
    <section id="linux" class="row  q-pa-md center">
        <div class="col-md-10 col-12 ">
            <h4  class="text-primary">
                v7.7 Install on Linux
            </h4>            
            <h5>AppImage are available for All Linux distribution - Download the universal container AppImage, then
                make it
                executable to run</h5>
            <div class="row center">
                <a target="_blank" href={appImageUrl}
                   class="q-mt-lg outline no-uppercase text-h4 text-accent col-lg-4 col-md-6 col-12">
                    <div class="text-h4  text-accent ">
                        Download <strong><u class="text-white">AppImage</u></strong>
                    </div>
                </a>
            </div>
            <div class="col-12 q-py-md row">
                <h5><strong>Terminal instruction</strong></h5>
                <pre class="text-secondary bg-blue-grey q-pa-md col-lg-4 col-md-6 col-sm-10text-h6">
// Open your Download folder
cd ~/Downloads

// mark the Container executable
chmod +x ./Library-0.7.7-x86_64.AppImage

// start the Library
./Library-0.7.7-x86_64.AppImage
                </pre>
            </div>
        </div>
    </section>
    <!-- <section id="coming_soon" class="row center q-pa-md">
        <div class="col-md-10 col-12 ">
            <h4  class="text-primary">
                Apple, Android , Browsers coming soon
            </h4>
            <h5>Any small donation will make a big difference!</h5>
            <div class="row center">
                <a href="/more#sacred_earth" class="  q-mt-lg outline no-uppercase col-lg-4 col-md-6 col-sm-10 col-12 self-center center">
                    <div class="text-h4 text-accent">Help us <strong><u class="text-white">build</u></strong> the future</div>
                </a>
            </div>
        </div>
    </section> -->

    <section id="browser" class="row  q-pa-md center">
        <div class="col-md-10 col-12 ">
            <h4  class="text-primary">
                V8 On Browser only
            </h4>
            <h5>This is the latest browser version of the library</h5>
            <div class="row center">
                <a  href="/game/start"
                   class="q-mt-lg outline no-uppercase text-h4 text-accent col-lg-4 col-md-6 col-12">
                    <div class="text-h4  text-accent ">
                        Enter The Library
                    </div>
                </a>
            </div>

        </div>
    </section>

    <!--<section id="video" class="row  q-pa-md center">-->

    <!--    <div class="col-md-10 col-12 ">-->
    <!--        <h4  class="text-primary">-->
    <!--            Video TRON Hackathon - Library-Browser  v8.Alpha - PRE-RELEASE-->
    <!--            <small class="q-ml-md text-bold self-end"><strong class="text-white">D-<small class="text-positive">SAFE</small></strong></small>-->
    <!--        </h4>-->
    <!--        <div class="row">-->
    <!--            <video controls class="col-12">-->
    <!--                <source src="/videos/TronVideo.mp4" type="video/mp4"/>-->
    <!--                <source src="/videos/TronVideo.webm" type="video/webm"/>-->
    <!--                <p>-->
    <!--                    Your browser doesn't support HTML video. Here is a-->
    <!--                    <a href="/videos/TronVideo.mp4">link to the video</a> instead.-->
    <!--                </p>-->
    <!--            </video>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <hr class=q-my-md/>-->
    <!--    <div class="col-md-10 col-12 ">-->
    <!--        -->
    <!--        <h4 class="text-primary">-->
    <!--            Video Hack4Peace Hackathon - Library-App v7.8-->
    <!--            <small class="q-ml-md text-bold self-end"><strong class="text-white">D-<small class="text-positive">SAFE</small></strong></small>-->
    <!--        </h4>-->
    <!--        <div class="row">-->
    <!--            <video controls class="col-12">-->
    <!--                <source src="/videos/versioning_v3.mp4" type="video/mp4"/>-->
    <!--                <source src="/videos/versioning_v3.webm" type="video/webm"/>-->
    <!--                <p>-->
    <!--                    Your browser doesn't support HTML video. Here is a-->
    <!--                    <a href="/videos/versioning_v3.mp4">link to the video</a> instead.-->
    <!--                </p>-->
    <!--            </video>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->
</Layout>