---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import pyramid from '../img/future_pyramid.jpg';
import trust from '../img/trust.png';
import classroom from "../img/classroom.png";
import planet from "../img/save-planet2.png";
import world from "../img/save-world.jpg"

---

<Layout title="Enter the Library @ DataPond" description="The decentralized D-SAFE Book library. Preview">
	<section role="presentation" class="row">
		<div class="col-12 mobile-only img-container ">
			<Image src={pyramid} alt="image by gencraft" />
		</div>
		<div class="col-sm-7 col-12">
			<h2 class="text-secondary q-pa-md">
				The decentralized book library on sustainable
				practices.
			</h2>
			<h3 class="text-white desktop-only mobile-hide q-pa-md">
				An <strong>open</strong> collection of copyleft and creative common resources to help society save the
				planet organized across 250 topics.
			</h3>
			<div class="row justify-center around">
				<a href="/game/start" 
				class="col-md-5 col-8 q-pa-md text-h4 q-my-md outline text-primary no-uppercase" style="background: rgba(0,0,0,0.75)">
					<small class="text-accent">V8.PreView: </small>
					<br />
					All Browsers
				</a>
				<a href="/download" 
				class="col-md-5 col-8 q-pa-md text-h4  q-my-md outline text-primary no-uppercase" style="background: rgba(0,0,0,0.75)">
					<small class="text-accent">V7.7 Stable: </small>
					<br />
					Windows & LInux 
				</a>

			</div>
		</div>
		<div class="col-sm-5 mobile-hide ">
			<div class="row fit">
				<Image src={pyramid} class="col fit" alt="image by gencraft"/>
			</div>
		</div>
	</section>

	<hr/>


	<section class="row ">
		<div class="col-12 col-md-8 q-pa-md">
			<h2 class="text-white bg-blue-grey  desktop-only">
				<strong>D-<small class="text-positive">SAFE</small></strong>:
				Children,
				adults and plants
			</h2>
			<h2 class="text-accent ">
				Access <strong class="text-positive ">universal</strong> knowledge</h2>
			<p class="text-secondary  text-h6 desktop-only">
				Universal education instills respect for life
				and planet, fostering sustainable practices crucial for
				biodiversity preservation and ecological balance.
			</p>
			<div class="row justify-start">
				<a
					href="/d-safe"
					class="q-py-md q-my-sm col-12 bg-blue-grey-10">
                  <span class="text-h5">
                      <i  class="q-mr-md text-positive las la-dove"></i>
                      What is the <strong class="text-white"><u>D-<small class="text-green-2">SAFE</small></u></strong>
                    label?
                  </span>
				</a>
			</div>

		</div>
		<div class="mobile-hide col-4 q-pa-md ">
			<div class="row fit">
				<Image src={trust} class="col fit" alt="Trust"/>
			</div>
		</div>
	</section>



	<hr/>
	<section class="row">
		<div class="mobile-hide col-4 q-pa-md ">
			<div class="row fit">
				<Image src={classroom} class="col" alt="Classroom"/>
			</div>


		</div>

		<div class="col-12 col-md-8 q-pa-md">
			<h2 class="text-white bg-blue-grey  desktop-only">
				A Vision shift within a technological revolution
			</h2>
			<h2 class="text-accent">A <strong class="text-positive">Permanent</strong> classroom on the
				blockchain</h2>
			<p class="text-secondary  text-h6 desktop-only">
				<strong>
					Our vision
				</strong> is to build a cross generation tool, forever FREE - resistant to inflation by using blockchain
				tech to
				ensure
				<strong>250 years</strong> storage of information.

			</p>
			<div class="row justify-start">
				<a href="/vision#vision"
				   class="bg-blue-grey-10 q-py-md q-my-sm col-12 ">
                  <span class="text-h5 text-positive">
                      <i  class="q-mr-md text-positive las la-mountain"></i>
                      Learn more about <strong class="text-white"><u>our vision</u></strong>
                  </span>
				</a>
			</div>
		</div>
	</section>

	<hr/>

	<section class="row">

		<div class="col-12 col-md-8 q-pa-md">
			<h2 class="text-white bg-blue-grey  desktop-only">
				<strong>Free</strong>, Forever
			</h2>
			<h2 class="text-accent"><strong class="text-positive">250</strong> topics on sustainability</h2>
			<p class="text-secondary text-h6 desktop-only">
				A meticulously categorized, extensive digital content collection encompassing various facets of
				sustainability,
				comprising thousands of items.
				All the content is made available under licenses such as <strong>Creative Commons</strong>,
				<strong>copyleft</strong>,
				or in the <strong>public domain</strong>.
			</p>
			<div class="row justify-start">
				<a class="q-px-xl q-py-md q-my-sm col-12" href="/downloads">
                <span class="text-h5 text-positive">

                    Download now
                </span>
				</a>
			</div>
		</div>
		<div class="mobile-hide col-4 q-pa-md  ">
			<div class="row fit">
				<Image src={planet} class="col" alt="Save the planet video game"/>
			</div>
		</div>
	</section>

	<hr/>

	<section class="row">
		<div class="mobile-hide col-4  q-pa-md ">
			<div class="row fit">
				<Image src={world} class="col" alt="Save the world"/>
			</div>
		</div>
		<div class="col-12 col-md-8 q-pa-md">
			<h2 class="text-white bg-blue-grey   desktop-only">
				The <strong>Communities</strong>
			</h2>
			<h2 class="text-accent ">
				<strong class="text-positive">Respect</strong> to <strong class="text-positive">all</strong>
				communities
			</h2>
			<p class="text-secondary  text-h6 desktop-only">
				Our goal is to build a decentralized <strong>global council</strong> focused on creating products that
				require <strong>no maintenance</strong>.
				<br/>
				We are aiming to provide every world's state legal system the capability to <strong>regulate</strong>
				Data-Pond for their own residents.
			</p>

			<div class="row justify-start">
				<a class="q-px-xl q-py-md q-my-sm col-12" href="/more">
                <span class="text-h5 text-positive">
                    More about the <u class="text-white">C-Licence</u>
                </span>
				</a>
			</div>
		</div>
	</section>

	<hr/>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
