---
import ProjectItem from "../components/ProjectItem.astro";
import Layout from "../layouts/Layout.astro";
import BrevoEmail from "../components/BrevoEmail.astro";
---

<Layout title="Milestones" description="Open milestones">
    <div class="row q-pa-md center">
        <div class="col-md-10 col-12 col-lg-9">

            <h2>Project TRON Calendar:</h2>

            <BrevoEmail btnTitle="Register"/>

            <ProjectItem title="Week 1" Commit="" DeploymentDate="" Start="05/05/2024" End="12/05/2024">
                <p>
                    <strong class="text-positive text-h6">&#9745; Current Version <a class="link text-h6"
                                                                                     href="/game/topicIndex">Access
                        here</a> </strong>
                </p>
                <p>
                    &#9745; Build a new responsive and accessible UX for the topic layout.
                </p>
                <p>
                    &#9745; Refactor the whole product to using Astro.build Sitemap and image optimization
                </p>
                <p>
                    &#9745; Perfect Lighthouse A11Y scores
                </p>
                <p>
                    &#9745; Integration with Dexie Live chat and Dexie newsletter forms !
                </p>
                <p>
                    &#9745; Contact me link for feedback - Live Chat or Email on every page forms and one discord
                    channel.
                </p>
            </ProjectItem>
            <ProjectItem title="Week 2" Commit="" DeploymentDate="" Start="12/05/2024" End="19/05/2024">
                <p>
                    <strong class="text-positive text-h6">&#9745; Release MVP 1
                </p>
                <p>&#9745; Implement the leveling system from Student to Apprentice.</p>
                <p>&#9745; Gaming story screens upgrade.</p>
            </ProjectItem>

            <ProjectItem title="Week 3" Commit="" DeploymentDate="" Start="19/05/2024" End="26/05/2024">
                <p>
                    <strong class="text-positive text-h6">&#9745; Release MVP 2 - TRON</strong>
                </p>
                <p>
                    &#9745; Feedback form design
                </p>
                <p> &#9745; More Gaming story screens upgrade.</p>
                <p>
                    &#9745; TRON wallet connector integration + first release TRON smart contract deployment TestNet.
                </p>
            </ProjectItem>

            <ProjectItem title="Week 4" Commit="" DeploymentDate="" Start="26/05/2024" End="02/06/2024">
                <strong class="text-accent">Business setup & structure documentation</strong>
                <p>
                    &#97445; Publish the documents & researches for the registration of non profit businesses.
                    Hidden in one of those those section:
                    <a class="link text-body" href="https://datapond.earth/topics/Tag:Business, Economy, Finances">TOPIC:
                        Business, Economy, Finances</a>,
                    <a class="link text-body" href="https://datapond.earth/topics/Tag:Decision Making and Democracy">TOPIC:
                        Decision Making and Democracy</a>
                <p>

                <p>
                    &#9745; Documentation of the Library constitution plan for DAO organization, buried somewhere in the
                    <a class="link text-body" href="https://datapond.earth/topics/tag:cooperatives/">TOPIC:
                        Cooperatives</a>
                    or the
                    <a class="link text-body" href="https://datapond.earth/topics/tag:legal%20and%20cryptos/">TOPIC:
                        Legal and Crypto </a></p>
            </ProjectItem>

            <ProjectItem title="Week 5" Commit="" DeploymentDate="" Start="03/06/2024" End="10/06/2024">
                <p>
                    <strong class="text-positive text-h6">&#9745; Release MVP 3 - UX-improvements</strong>
                </p>
                <p>&#9744;A11Y (A) - Keyboard navigation</p>

                <p>&#9744;Implement Gamepad navigation.</p>
                <p>&#9744;Implement Zooming features</p>
                <p>&#9744;Fix all bugs - Empty the tech debt.</p>
            </ProjectItem>


            <ProjectItem title="Week 6" Commit="" DeploymentDate="" Start="11/06/2024" End="16/06/2024">
                <strong class="text-accent">Release MVP 4 - Book Rankings - DEMO</strong>
                <p>
                    <strong class="text-negative text-h6">&#9744; Release MVP 4 - Book Rankings + DEMO</strong>
                </p>
                <p>&#9744; Based on all user’s shared votes, connect to TRON public data to display the community
                    reading activity.</p>
                <p>&#9744; Prepare the demo for the demo week, and demonstrate that the library is
                    <strong>ready</strong> to go public!</p>
            </ProjectItem>

            <ProjectItem title="Week 7" Commit="" DeploymentDate="" Start="17/07/2024" End="25/06/2024">
                <p>
                    <strong class="text-negative text-h6">&#9744; Release MVP 5 - Full Access</strong>
                </p>
                <p>&#9744; Implement the Book Reader UX.</p>
                <p>&#9744; Build an Astro plugin.</p>
                <p>&#9744; Pre-render all 5000 books URLs for SEO</p>
            </ProjectItem>

            <ProjectItem title="Weaver RAID3" Commit="" DeploymentDate="" Start="26/07/2024" End="07/08/2024">
                <p>
                    <strong class="text-negative text-h6">&#9744; Raid III - ArWeave Hackathon</strong>
                </p>
                <p><a class="link" target="_blank">https://www.weaversofficial.com/raid-bounties</a></p>

                <p>&#9744; Build an <a href="https://docs.astro.build/en/guides/integrations-guide/" class="link"
                                       target="_blank">Astro Bundler plugin</a>
                    to deploy on Arweave directly from the Astro command line
                    <a class="link" target="_blank"
                       href="https://github.com/ArweaveTeam/arweave-standards/blob/master/ans/ANS-104.md">ANS-104</a>
                    spec.</p>
                <p>&#9744; Deploy datapond.earth v8.alpha on the PermaWeb.</p>
                <p>&#9744; Pre-render all 5000 books URLs for SEO</p>
            </ProjectItem>


            <ProjectItem title="Networking & Research" Commit="" DeploymentDate="" Start="10/08/2024" End="10/10/2024">
                <p>
                    <strong class="text-negative text-h6">&#9744; Research and Marketing</strong>
                </p>
                <p>&#9744; Optimize social media presence and experiment with Marketing startegies</p>
                <p>&#9744; Develop our relationShips with Trusted Seeds, and the commons community</p>
            </ProjectItem>

        </div>

    </div>
</Layout>