---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The community Licence" description="Explore the vision behind the datapond Community licence - The funny game operation.">
    <section id="game" class="row center">
        <div class="col-md-10 col-12 ">

            <div class="col-md-10 col-12 ">

                <h4 class="text-primary">Gaming Levels built within a growth mindset</h4>

                <div class="row">
                    <div class="col-1 text-h2 center q-pa-md mobile-hide">
                        1.
                    </div>
                    <div class="col-12 col-sm-10">
                        <h6 class="text-accent">The Community Licence formula</h6>
                        <p class="text-white">10 % of all donations are spent in the printing of the library <a href="/donate" class="link text-body text-strong">community key programs</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-h1 center q-pa-md"></div>
                    <div class="col-10 text-h3 center">
                        <i class="las la-angle-double-down text-info text-bold"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-h2 center q-pa-md mobile-hide">
                        2.
                    </div>
                    <div class="col-12 col-sm-10">
                        <h6 class="text-accent">Students & Education</h6>
                        <p class="text-white">
                            When reaching a certain level in the Game, all users will have access to this free key donation program
                            - and will unlock the <a class="link text-body outline" href="/apprenticeFAQ" target="_blank"> Apprentice  Key</a>, for a full access.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 text-h1 center q-pa-md"></div>
                    <div class="col-10 text-h3 center">
                        <i class="las la-angle-double-down text-info text-bold"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-h2 center q-pa-md mobile-hide">
                        3.
                    </div>
                    <div class="col-12 col-sm-10">
                        <h6 class="text-accent">A Free Key funding program.</h6>
                        <p class="text-white">Education <strong class="text-accent">is</strong> open to anyone and everyone.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="q-my-xl"/>
    <section id="key" class="row center">
        <div class="col-md-10 col-12 ">

            <div class="col-md-10 col-12 ">

                <h4 class="text-primary">Main Keys</h4>
                <h5 class="text-accent">Student Key</h5>

                <p>All student keys are free and available inside your local browser.</p>

                <p>For data storage, your local-browser storage is used for 100% of all your personal storage.</p>

                <p>Full Books access is limited under a Student Key.</p>

                <h5  class="text-accent">Apprentice Key</h5>

                <p>Upgrade your Student Key to an Apprentice Key for Free inside <a class="link text-body" href="/game/start">The Library</a>.</p>
                <p>The Apprentice Key is subject to available keys from the donation pool.</p>
                <p>Your Apprentice key unlocks full access to <a class="link text-body" href="/game/start">The Library</a>.</p>


                <h5  class="text-accent">Backup or Vote ?</h5>

                <p>Student Keys are designed to record your attendance until you win an Apprentice Key while inside the library.</p>

                <p>Apprentice Keys fully unlocks the downloader and the reader access, to access all the books.</p>

                <h5  class="text-accent">More questions about the Appprentice Keys?</h5>

                <p>Click here for access => <a class="link text-body" href="/apprenticeFAQ" class="link text-body">FAQ about the Apprentice Key</a></p>

            </div>
        </div>
    </section>

    <hr class="q-my-xl"/>

    <section id="formula" class="row center">
        <div class="col-md-10 col-12 ">

            <div class="col-md-10 col-12 ">

                <h4 class="text-primary">The winning formula</h4>

                <h5  class="text-accent">Same formula for all donations.</h5>

                <p>
                    Using one formula for all donations, regardless of where they come from or how much they are,
                    helps us work efficiently.
                    It also ensures fairness, lets us measure things accurately, and makes our budget planning and reviews automated, safe, democratic
                    and easy to understand.
                 </p>

                <hr />
                <h5  class="text-accent">
                    A Sustainable video game
                </h5>

                <p>

                    The Datapond design ensures sustainability through its strategic allocation of donations.
                </p>
                <p>
                    Ten percent is dedicated to automated marketing campaigns, continually attracting new users.
                    Another ten percent is invested in printing Free Apprentice Keys, fostering community engagement and expanding access to library content.
                    Furthermore, a substantial fifty percent is allocated to developing new library components and sections, ensuring ongoing growth and relevance.
                </p>
                <p>
                    This balanced approach not only encourages community involvement and expansion but also ensures continuous improvement and innovation, making Datapond a sustainable platform for the long term.
                </p>

                <!--<h4>Transparent finances</h4>-->
                <!--<p>50 % for all projects</p>-->
                <!--<p>10 % for marketing & product growth</p>-->
                <!--<p>10 % for Ai research - and protection against AI</p>-->
                <!--<p>10 % for printing student keys</p>-->
                <!--<p>10 % for printing school material</p>-->
                <!--<p>10 % for legal fees and consultation funds</p>-->
                <!--<p><small>40% for debts account</small></p>-->

                <h5  class="text-accent">Find the hidden formula inside the library</h5>

                <p>
                    The public library is accessible on all devices and all browser.
                </p>
                <h5  class="text-accent" class="q-my-md text-primary">
                    No account needed
                </h5>

                <p>
                    <a href="/game/start" class="outline text-h3 q-my-md">Enter The Library</a>
                </p>

            </div>
        </div>
    </section>

    <hr class="q-my-xl"/>

</Layout>