---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import owl from "../img/owl.png";

---

<Layout title="DataPond - The Game" description="Start a new Game of DataPond here. Coming Soon">
    <section id="step1" class="row center">
        <h1 class="text-center">
            A crypto-Librarian Odyssey
        </h1>
        <div class="col-md-3 col-12 ">
            <div class="row fit">
                <Image src={owl} class="col fit" alt="image by gencraft"/>
            </div>
        </div>

        <div class="col-md-7 col-12 q-pa-md text-h4">
            In a world where knowledge flows freely across the digital realm,
            one engineer embarks on an epic quest to build a sanctuary of wisdom amidst the chaos of the web.
        </div>

    </section>

    <hr class="q-my-lg"/>

    <!--<section id="step2" class="row center">-->

    <!--        <div class="col-md-7 col-12 q-pa-md text-h4">-->
    <!--            But lurking in the shadows is a malevolent force, determined to thwart his noble endeavors.-->
    <!--        </div>-->

    <!--        <div class="col-md-3 col-12 ">-->
    <!--            <div class="row fit">-->
    <!--                <Image src={thief} class="col fit" alt="image by gencraft"/>-->
    <!--            </div>-->
    <!--        </div>-->

    <!--        <div class="col-md-7 col-12 q-pa-md text-h4 mobile-only">-->
    <!--            But lurking in the shadows is a malevolent force, determined to thwart his noble endeavors.-->

    <!--        </div>-->
    <!--</section>-->

    <!--<hr class="q-my-lg"/>-->

    <!--<section id="step3" class="row center">-->
    <!--    <div class="col-md-3 col-12 ">-->
    <!--        <div class="row fit">-->
    <!--            <Image src={coder} class="col fit" alt="image by gencraft"/>-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <div class="col-md-7 col-12 q-pa-md text-h4">-->
    <!--        Some users scheme to introduce forbidden texts that defy the principles of-->
    <!--        the <strong>D-<small class="text-positive">SAFE</small></strong> label, threatening to tarnish the integrity-->
    <!--        of the <strong class="text-positive">Community</strong> library.-->
    <!--    </div>-->
    <!--</section>-->




    <section class="q-mt-lg center row">
        <a href="/game/start" class="outline text-accent text-h1">
            Enter The Library
        </a>
        <hr class="q-my-lg"/>
    </section>

    <section id="step5" class="row center">
        <div class="col-md-10 col-12 row center text-h4 q-pa-md">
            Your main mission is to find the best books for yourself .
        </div>
        <div class="col-md-10 col-12 row center q-my-lg">
            <div class="text-h5 no-uppercase text-primary">
                 Preview Release NEW - May 2024
            </div>
        </div>

    </section>

    <hr class="q-my-lg"/>

</Layout>