---
---
Android
https://openverse.org/image/d89f5580-51ee-4f0a-aa79-9b885bc30485?q=android

Apple
https://openverse.org/image/f0f010fd-1ee8-4f20-88d3-b3d81d369790?q=apple


Pyramid
https://gencraft.ai/p/nqEo4j

Line Awesome
https://icons8.com/line-awesome

Some coole icons
Spell book By juicy_fish
<a href="https://www.flaticon.com/free-icons/astrology" title="astrology icons">Astrology icons created by juicy_fish - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/rpg" title="rpg icons">Rpg icons created by redempticon - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/magic" title="magic icons">Magic icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/open-book" title="open book icons">Open book icons created by Flat Icons - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/magic-book" title="magic book icons">Magic book icons created by vectorsmarket15 - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/science" title="science icons">Science icons created by Freepik - Flaticon</a>


<a href="https://www.deviantart.com/sephiroth-art/art/Isometric-Chest-605723481">Treasure chest</a>
<a href="https://vectorportal.com/vector/glasses-on-book/36072">Glasses & Book</a>



<a href="https://www.istockphoto.com/vector/banner-43-gm944254822-257946986?irclickid=UyAU0hxoSxyKWu7xqaX8STZBUkHVlFUWSX5t0g0&irgwc=1&cid=IS&utm_medium=affiliate&utm_source=Vector+Portal&clickid=UyAU0hxoSxyKWu7xqaX8STZBUkHVlFUWSX5t0g0&utm_term=VectorPortal&utm_content=1852840&irpid=46633">under construction</a>

<a href="https://commons.wikimedia.org/wiki/File:Pointing_hand_cursor_vector.svg">hand icon</a>
<a href="https://iconscout.com/free-icon/move-182">Arrows four directions</a>



