---
import StudyLayout from "../layouts/StudyLayout.astro";
import {AppReady} from "../solidApps/common_utils/AppReady";
import {StudyApp} from "../solidApps/studyRoom";
import {ActionCategory} from "@8pond/interfaces";
import {Tracking} from "../solidApps/common_components/tracking/tracking";
---
<style>
    @media screen and (min-width: 760px){
        .study-bg:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.25;
            background-image: url('/img/study1.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
</style>
<StudyLayout title="Study room" description="Your private library study room">
    <AppReady client:only="solid-js" minimumLevel={4}>
        <Tracking category={ActionCategory.VisitStudy} client:only="solid-js"/>
        <StudyApp client:only="solid-js" />
    </AppReady>
</StudyLayout>
