---
import Layout  from '../layouts/EmptyLayout.astro'


import {BookLinkList} from "../solidApps/bookReader/bookList";

---
<Layout title="title" description="description">
    <BookLinkList client:only="solid-js" />
</Layout>
