---
import Layout from '../layouts/Layout.astro';
import ApprenticeKey from "../components/less/ApprenticeKey.astro";
import DSafe from "../components/less/DSafe.astro";
import Page from "../components/Page.astro";
---
<Layout title="DataPond - The timelock vote design" description="Ethical & Sustainable by design - The LIbrary is managed dynamically using smart contract and the timelock voting mechanism.">
    <section id="vision" class="row center " >

        <Page>
            <h1>Coming soon</h1>
        </Page>

    </section>

</Layout>