---
import GameLayout from "../layouts/GameLayout.astro";
import {Image} from 'astro:assets';
import seriousBird from '../img/game/cassowary2.png';
import {filterValid, mapTag, tagIndex} from "../js/book";
import {generateTopicUrl} from "../js/staticUtils";
import {ActionCategory} from "@8pond/interfaces";
import {DbReady} from "../solidApps/common_utils/DbReady";
import {LevelCheck} from "../solidApps/common_utils/LevelCheck";
import {Tracking} from "../solidApps/common_components/tracking/tracking";
import {HideLoading} from "../solidApps/common_utils/HideLoading";
import {AstroTopic} from "../solidApps/astro/topic";
const top = tagIndex[1];
const topTags = top.has_tag.filter(filterValid).map(mapTag);
---
<GameLayout title="Enter the Library - Start New Game" description="Main Index category">

    <div class="row center ">
        <div class="col-sm-8 col-12 col-md-2">
            <Image src={seriousBird} alt="Generated gencraft" class="fit"/>
        </div>
        <div class="col-12 q-pa-md col-sm-8 col-md-8 text-h5 indie self-center center ">
            <h1 class="text-secondary">Enter The Library</h1>
            <h4 class="indie text-primary">Start with choosing your favorite topic</h4>
        </div>
    </div>
    <div class="row center">
        <div class="col-md-10 col-12">
            <div id="topicIndex">
                <div aria-label="Topic Index" class="row">
                    {topTags.map((tag) =>
                            <div class="col-md-6 col-12 q-pa-xs center row">
                                <a href={generateTopicUrl(tag)}
                                   data-tag-id={tag._id}
                                   class="col text-h6 text-accent q-pa-md text-thin">
                                    <span><i class="las la-folder"/>{tag.name}</span>
                                </a>
                            </div>
                    )}
                </div>
            </div>
        </div>
    </div>
    <HideLoading>
        <DbReady client:only="solid-js">
            <LevelCheck minimumLevel={1} client:only="solid-js">
                <Tracking category={ActionCategory.VisitTopicIndex} client:only="solid-js"/>
                <AstroTopic client:only="solid-js" />
            </LevelCheck>
        </DbReady>
    </HideLoading>
</GameLayout>