---
import Layout from '../layouts/Layout.astro';
import ApprenticeKey from "../components/less/ApprenticeKey.astro";
import DSafe from "../components/less/DSafe.astro";
---
<Layout title="DataPond - The Vision" description="Ethical & Sustainable by design - A Real life Video Game - Community Led design and funding">
    <section id="vision" class="row center " >
        <div class="col-md-10 col-12 ">
            <div class="col-md-8 col-12 q-pa-md">

                <h4 class="text-primary">Our Vision</h4>
                <h5 class="text-accent ">
                    Provide a permanent knowledge library for rural communities
                </h5>
                <p>
                    Hosted on the permanent Web using blockchain technologies, DataPond is the first book library that
                    aim to reach the <strong>NO UPKEEP</strong> evolution.
                </p>

                <h5 class="text-thin text-accent">
                    Solve the crypto niche problem
                </h5>

                <p class="q-py-md">
                    Knowing that 95+% of the world population doesn't have enough money, and acknowledging the Crypto illiteracy problem, The Library becomes a model on how to build and implement a public good on top of the crypto blockchain without the need for connecting any wallet.
                </p>

                <p class="q-py-md">
                    The library can potentially solve many problem, and is the building stone of a larger community based project. But it needs to be shaped perfectly before being published permanently.
                </p>
                <p class="q-py-md">
                    By integrating with several blockchain ,such as Arweave, Move, Stellar and Solidity,
                    the Library is a product that looks like a free web2 website that doesn't need any user account or
                    registration to be fully accessible.

                </p>
                <p class="q-py-md">
                    Under the hood, it is an advanced web3 DApp, which by design, partially verify a user human's
                    hood and transparently reward those users with a free <ApprenticeKey />.
                </p>
                <p class="q-py-md">
                    An <ApprenticeKey />

                </p>
                <ul>
                    <li>- Weekly saves all user's action, and convert them into permanent votes.</li>
                    <li>- Is a partial proof of being a human ( looking at MoneyGram as a possible way to fully prove human-hood )</li>
                    <li>- Is a certification that the user is keen and willing to learn to develop their skills @ regenerating their ecosystem</li>
                </ul>
                <hr/>
                <h5 class="text-thin text-accent">
                    A real life video game
                </h5>
                <p>
                    DataPond offers a dynamic experience where users upgrade knowledge to enrich their community participation.
                </p>
                <p>
                    Obtaining an Apprentice key takes between 20 and 30 minutes.
                    <br />
                    The <ApprenticeKey /> is also <strong>the best captcha ever !</strong>
                    <br />
                    <u>No more machine asking you if you are human!</u>. You get to learn something new instead.
                </p>
                <hr/>
                <!--<h5 class="text-thin text-accent">-->
                <!--    Community Led design and funding-->
                <!--</h5>-->
                <!--<p>-->

                <!--    DataPond is designed by the community, for the community.-->
                <!--    It's built using a special method that ensures everyone's interests are considered,-->
                <!--    and it's funded by donations that anyone can see where the money goes following the <a href="more" class="link">Datapond permanent Community formula.</a>.-->


                <!--    The library content changes over time, graduating users with Free community funded keys upgrades from Student to Tradesmen level.-->
                <!--</p>-->
                <!--<hr>-->
            </div>
        </div>
    </section>
    <section id="permanent_shift" class="row center ">
        <div class="col-md-10 col-12 ">
            <div class="col-md-8 col-12 q-pa-md">
                <h4  class="text-primary">Permanent Shift</h4>
                <h5 class="text-thin  text-accent ">
                    Permanent Storage
                </h5>
                <p>
                    <a href="https://arweave.org" class="link text-body" target="_blank"> Arweave</a> technology enables a secure and cost-effective decentralized setup, ensuring permanent storage for DataPond's library without compromising safety or affordability.
                </p>
                <hr/>
                <h5 class="text-accent">
                    Legal (In progress)
                </h5>
                <p>
                    DataPond upholds respect for all state laws by allocating funds to establish a community-funded front door.
                </p>
                <p>
                    We aim to build a platform for public formal complaints, legal requests, and public announcements
                    from local legal bodies - when related to DataPond's content index.
                </p>
                <p>
                    By embracing transparency and compliance with legal frameworks, we want to ensure accountability to all world state's legal landscape.
                </p>
                <p class="q-py-sm text-positive">
                    <strong>Example 1: Removal request.</strong> A book could be offensive, or illegal in one state, or country - while being perfectly acceptable in another state.
                    <br />
                    We want to respect and open a transparent communication channel - and we will remove the offending content based on a geolocation basis - using <a href="https://github.com/ArweaveTeam/arweave-standards/blob/master/ans/ANS-106.md" target="_blank" class="link text-body">ANS-106 Do not store Request</a>
                </p>
                <p class="q-py-sm text-positive">
                    <strong>Example 2: Public book funding.</strong> A government, or a public good funding donating a book licence for their communities.
                    <br/>
                    But only when accessing from within that community's borders.
                </p>
            <!--    <h5 class="text-accent">-->
            <!--        TRON integration-->
            <!--    </h5>-->
            <!--    <p>-->
            <!--        In response to feedback, DataPond's hackathon project prioritizes resilience with multi-storage engine support, including ArDrive, BTFS, Storj, and FileCoin.-->
            <!--        We are looking for <strong>donations</strong>.-->
            <!--    </p>-->

            <!--        <p>-->
            <!--        This diversification strengthens the no-upkeep promise, ensuring long-term sustainability.-->
            <!--        Additionally, DataPond is gearing up for an upcoming project to integrate cloud backup solutions like-->
            <!--        Gdrive and Microsoft 365.-->
            <!--        This expansion broadens accessibility and backup options, further solidifying DataPond's commitment to-->
            <!--        providing a robust and adaptable platform for users' evolving needs.-->
            <!--</p>-->
            <!--    </p>-->
            <!--    <hr/>-->
            </div>
        </div>
    </section>
    <section id="funny_circle_operation" class="row center ">
        <div class="col-md-10 col-12 ">
            <div class="col-md-8 col-12 q-pa-md">
                <h4  class="text-primary">A Funny Circle Operation</h4>
                <h5 class="text-accent "><strong>Beneficiary: </strong> The Earth, Us</h5>
                <p>
                    On Earth, we're more than just occupants; we're integral parts of its ecosystem.
                    As a community, we're tasked with learning how to restore and rejuvenate our planet.
                    Earth's rich biodiversity holds vast wisdom in sustainable landscape management and regeneration.
                    By harnessing this knowledge, we can enhance practices to foster thriving environments where both
                    humans and nature flourish together.
                </p>
                <hr/>
                <h5 class="text-accent"><strong>Trustee: </strong> <DSafe /></h5>
                <p>The <DSafe /> label certifies that the content is safe for children, adults, and plants.

                Serving as a gateway for content removal requests, community feedback, and integration with international legal systems,
                it's designed for continual improvement through automation.
                <div class="text-h1 text-green-2">
                    <h5 class="text-accent"><strong>Grantor: </strong> Community-Licence</h5>
                    <p>
                        The DataPond Community License is dedicated to evolve the <DSafe /> Label and its content explorer, The Library.
                        Our mission revolves around creating a safe and enriching environment for all users from any cultural background.

                    </p>
                </div>

            </div>
        </div>
    </section>

    <!--<section id="sacred_earth" class="row  q-pa-md center">-->
    <!--    <div class="col-md-10 col-12 ">-->
    <!--        <h4  class="text-primary">Sacred Earth - A Sustainable shared formula</h4>-->
    <!--        <div class="row">-->
    <!--            <div class="col-10">-->
    <!--                <h5 class="text-accent">The Community Licence ( in construction )</h5>-->
    <!--                <h6 class="text-white">-->
    <!--                    provides a <DSafe /> permanent library to build a public collection of ethical knowledge-->
    <!--                </h6>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="row">-->
    <!--            <div class="col-2 text-h1 center q-pa-md"></div>-->
    <!--            <div class="col-10 text-h3 center">-->
    <!--                <i class="las la-angle-double-down text-info text-bold"></i>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="row">-->
    <!--            <div class="col-10">-->
    <!--                <h5 class="text-accent">Rural communities of all ages and cultural background</h5>-->
    <!--                <h6 class="text-white">Access the <DSafe /> library, upgrade their skills while improving the content's quality over generations</h6>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="row">-->
    <!--            <div class="col-2 text-h1 center q-pa-md"></div>-->
    <!--            <div class="col-10 text-h3 center">-->
    <!--                <i class="las la-angle-double-down text-info text-bold"></i>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="row">-->
    <!--            <div class="col-10">-->
    <!--                <h5 class="text-accent">The planet & us.</h5>-->
    <!--                <h6 class="text-white">A community that benefits in increase off shared knowledge about quality food production within a sustainable framework.</h6>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <hr class="q-mt-xl"/>-->
    <!--        &lt;!&ndash;<p class="q-my-xl">&ndash;&gt;-->
    <!--        &lt;!&ndash;    A philosophy to teach environmentally friendly crafts, and propagate the knowledges for landscape&ndash;&gt;-->
    <!--        &lt;!&ndash;    restoration trough permanent agriculture&ndash;&gt;-->
    <!--        &lt;!&ndash;</p>&ndash;&gt;-->
    <!--        &lt;!&ndash;<hr/>&ndash;&gt;-->
    <!--    </div>-->
    <!--</section>-->
</Layout>