
@keyframes keepIconAnimation {
  0% {
    color: rgba(29, 229, 29, 0.49)
  }
  15% {
    color: $accent;
  }
  30% {
    color: rgba(29, 229, 29, 0.49)
  }
  45% {
    color: $accent;
  }
  60% {
    color: rgba(29, 229, 29, 0.49)
  }

  75% {
    color: $accent
  }
  100% {
    color: rgba(29, 229, 29, 0.49);
  }
}



#bookActivityWithTabs .fadeInOut {
  transition-duration: 800ms;
  transition-property: color, visibility, opacity;
  //transition-delay: 0;

  &.book-deleted-animation {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition-delay: 200ms;

    &:after {
      display: flex;
      @extend .center;
      text-align: center;
      position: absolute;
      content: 'Deleted';
      text-transform: uppercase;
      font-size: 3rem;
      color: $negative;
      background: $dark;
      border: 3px solid $negative;
      top: 0;
      left: 0;
      z-index: 30000;
      bottom: 0;
      right: 0;
      width: 100%;
    }

  }

  &.book-reported-animation {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition-delay: 200ms;

    &:after {
      display: flex;
      @extend .center;
      text-align: center;
      position: absolute;
      content: 'Reported';
      text-transform: uppercase;
      font-size: 3rem;
      color: $dark;
      background: $negative;
      border: 3px solid $negative;
      top: 0;
      left: 0;
      z-index: 40000;
      bottom: 0;
      right: 0;
      width: 100%
    }


  }

  a.book_selected {
    i {
      color: rgba(29, 229, 29, 0.49);
    }
    &:hover {
      i {
        color: rgba(29, 229, 29, 1) ;
      }

    }
  }

  a.book-selected-animation {
    .student-only  {
      i {
        animation: 3s keepIconAnimation  linear;
      }
      //animation: 3s keepIconAnimation  linear;
    }

  }

}

