#bookCoverReview {
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.img_container {
  img {
    width: 100%;
    height: 100%;
  }
}


#bookActivityWithTabs {
  padding: 0;
  margin: 0;

  .bookText {
    font-size: 1rem;
    line-height: 1.6rem;
    padding-left: 0.5rem;
    //margin-left: 1rem;
    overflow: hidden;
  }

  .student-only {
    display: none;
  }


  a.book_selected {
    @extend .outline;
    border-color: $blue-grey-10;
    background-color: $blue-grey-10;

    border-radius: 0.3rem;
    .student-only {
      position: absolute;
      right: 0.5rem;
      bottom: -0.3rem;
      display: inline-block;
      z-index:1;

      i {
        color: $dark;
      }
    }

    &:hover {
      background-color: $dark;

      .student-only {
        i {
          color: $blue-grey-10;
        }
      }
    }
  }
  a.outline {

      i {
        color: $blue-grey-10;
        font-size: 3rem;

      }
    }


  a {
    background: transparent;
    max-height: 7rem;
    height: 7rem;
    width: 100%;
    padding: 0;

    .img_container {
      padding: 0.5rem;
      img {
        object-fit: scale-down;
        max-height: 6rem;
      }
      max-height: 7rem;
      height: 7rem;
    }

    &:hover, &:active {
      background: $blue-grey-10;
    }
    &:focus {
      border: 3px solid orange;
    }
  }
}

#menuLeftPanel {
  position: absolute;
  margin-left: -100vw;
  top: 0;
  background: black;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  z-index: 10000;
  animation: all 0.5s;
  &.opened {
    margin-left: 0 !important;
  }
}
#topicMenu li.active > a.fixed1 {
  position: fixed;
  z-index: 10000;
  top: 4rem;
  background: $blue-grey-10;
}

#topicMenu li.active > a.fixed2 {
  position: fixed;
  z-index: 10000;
  top: 8rem;
  background: $blue-grey-10;
}

#topicMenu li.active > a.fixed3 {
  position: fixed;
  z-index: 10000;
  top: 12rem;
  background: $blue-grey-10;
}

#topicMenu li.active > a.fixed4 {
  position: fixed;
  z-index: 10000;
  top: 16rem;
  background: $blue-grey-10;
}

#topicMenu {
  padding: 0;
  min-height: 100%;

  li {
    list-style-type: none;
    padding: 0;
    //border-bottom: 1px solid $blue-grey-3;
    a {
      span {
        margin-left: 0.8rem;
      }
      text-align: left;
      text-decoration: none;
      width: 100%;
      color: white;
      background: transparent;
      text-transform: none !important;
      position: relative;
      height: 4rem;

      i {
        position: absolute;
        top: 1.5rem;
        font-size: 1.2rem;
        left: 0.2rem;
      }

      &:hover {
        color: $accent;
        background-color: $blue-grey-10;
      }
    }
  }

  li li li {
    padding-left: 0.75rem;
  }

  li li {
    padding-left: 0.5rem;
  }

  li {
    padding-left: 0.25rem;
  }

  > li {
    li {
      display: none;
    }

    &.active, li.active {

      > ul {
        height: 100%;
      }

      display: block;

      a {
        color: white;
      }

      > a {
        color: white;
        font-weight: bold;
        text-decoration: underline;

      }

      li {
        display: block;

      }
    }
  }
}
