.zoomContainer {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: auto;
  display: flex;
  box-sizing: border-box;
  background-color: black;
  //top: 4rem;
  //left:0;

  .imgContainer {
    cursor: zoom-in;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    user-select: none;
    touch-action: manipulation;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    display: flex;

    img {
      will-change: transform;
      //cursor: zoom-in;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      display: block;
      vertical-align: middle;
      pointer-events: none;
      //user-select: none;
    }
  }
}