
---
import GameLayout from "../../layouts/GameLayout.astro";
import {Image} from'astro:assets';
import Bird from '../../img/game/superpc4.png';

---

<GameLayout title="Guide to the library super computer"
            description="GAME Datapond - Enter the library - Npc for exploring the library super computer">

    <div class="row center window-height window-width">
        <div class="col-lg-3 col-md-4 col-sm-7 col-12 ">
            <Image src={Bird} alt="Generated with GenCraft" class="fit"/>
        </div>
        <div class="col-md-8 col-12  q-pa-md">
            <h1 class="">
                <strong class="text-secondary indie-flower-regular">No, I am not AI.</strong>
            </h1>
            <h4 class="indie-flower-regular">I am a holographic recording from the Library.</h4>

            <h4 class="indie-flower-regular">Technologically, I am also a real place -  meant to stick around for several generation without upkeeps.</h4>

            <div class="row around">
                <a href="/game/computer_library" class="outline q-mt-md col-11 col-md-9 ">
                    <h2 class="text-positive indie-flower-regular">A <strong>free</strong> video game ?</h2>
                </a>
            </div>
        </div>
    </div>

    
</GameLayout>