---
import BrevoEmail from "../../components/BrevoEmail.astro";
import GameLayout from "../../layouts/GameLayout.astro";
import Page from "../../components/Page.astro";---

<GameLayout title="Email notification" description="Email notification">
    <Page>
        <h5 tabindex="-1">We will notify you as soon as we have released the next version.</h5>

        <BrevoEmail btnTitle="Notify Me"/>

        <div class="row center q-pa-md">
            <a href="/game/topicIndex" data-id="register-email-continue" class="q-pa-md outline text-accent text-h4">Start Exploring</a>
        </div>

    </Page>

    <script>
        import {$dq, setFromRedirectUrl} from "../../js/utils";
        setFromRedirectUrl($dq('register-email-continue'));
    </script>
</GameLayout>