---
import GameLayout from "../../layouts/GameLayout.astro";
import Pelican2 from '../../img/game/pelican2.png';
import Clock from '../../img/game/clock1.png';
import Card from '../../img/game/tablet1.png';
import NarationImgLeft from "../../components/narationImgLeft.astro";
import NarationImgRight from "../../components/narationImgRight.astro";
---
<GameLayout title="Enter The library - First Report"
            description="GAME Datapond - Enter the library - Fist report">

    <div class="row center">
        <div class="page-width">
            <NarationImgLeft img={Pelican2} alt="gencraft generated - Joe the pelican">

                <h6 class="text-bold text-accent">Score:</h6>
                <h6 class="indie">
                    <strong class="text-positive">+ 20 points</strong>  for each correct report
                </h6>
                <h6 class="indie">
                    <strong class="text-positive">+40 points</strong> for each correct ultra report
                </h6>
                <h6 class="indie">
                    <strong class="text-negative">-5 points</strong> for each incorrect report
                </h6>

            </NarationImgLeft>
            <NarationImgRight img={Clock}  alt="gencraft generated - ">
                <h6 class="text-bold text-accent">What is the Ultra Report:</h6>
                <h6 class="indie">Some books are harder to find than others, and require a meticulous search to discover.</h6>
            </NarationImgRight>
            <NarationImgLeft img={Card} alt="gencraft generated">
                <h5> So are you sure about this book?</h5>
                <h6 class="indie">You could loose 5 points</h6>
                <div class="row around q-py-md">
                    <a href="#" id="cancel" class="outline q-mt-md text-primary col-12 col-md-5 "><h2>Cancel</h2></a>
                    <a href="#" id="sure" class="outline text-positive q-mt-md col-12 col-md-5 "><h2>I'm sure</h2></a>
                </div>
            </NarationImgLeft>
        </div>
    </div>
    <script>
        import {getUrlParams} from "../../js/utils";
        const urlParams = getUrlParams();
        if (urlParams['from'] && urlParams['bookId']) {
            const cancelUrl = `${urlParams.from}?bookId=${urlParams.bookId}&preview=on`
            const sureUrl = `${urlParams.from}?bookReported=${urlParams.bookId}`;
            document.getElementById('cancel').setAttribute('href',cancelUrl );
            document.getElementById('sure').setAttribute('href', sureUrl);
        } else {
            document.getElementById('cancel').setAttribute('href', "/topicIndex");
            document.getElementById('sure').setAttribute('href', "/topicIndex");
        }
    </script>
</GameLayout>