---
import GameLayout from "../../layouts/GameLayout.astro";

import Pelican from '../../img/game/pelican1.png';
import Pyramid from '../../img/game/pyramid2.png';
import NarationImgLeft from "../../components/narationImgLeft.astro";
import NarationImgRight from "../../components/narationImgRight.astro";
---

<GameLayout title="Enter The library - First Report"
            description="GAME Datapond - Enter the library - Fist report">

    <div class="row center">
        <div class="page-width">
            <NarationImgLeft img={Pyramid} alt="gencraft generated - Joe the pelican">
                <h6 class="text-bold text-accent">Location:</h6>
                <h6 class="indie">The Grand Jury Room</h6>
                <h6 class="text-bold text-accent"> Assessment:</h6>
                <h6 class="indie">This is your first <strong>D-<small class="text-negative">UNSAFE</small></strong> report</h6>
            </NarationImgLeft>
            <NarationImgRight img={Pelican}  alt="gencraft generated - ">
                <h6 class="text-bold text-accent">Rules:</h6>
                <h6 class="indie">You can only report content that you believe has been stolen. .</h6>

                <h6 class="indie">By 'stolen,' we mean content that appears to belong to a publisher, classified information, or private content that is not already available under a free license.</h6>

                <div class="row center q-py-md">
                    <a href="/game/firstReport_more" id="next" class="outline q-mt-md col-12 col-md-8 "><h2>Ok, got it</h2></a>
                </div>
            </NarationImgRight>


        </div>
    </div>
    <script>
        import {ApplyAllUrlParamsToLinks} from "../../js/utils";
        ApplyAllUrlParamsToLinks();
    </script>
</GameLayout>