---
import GameLayout from "../../layouts/GameLayout.astro";
const urls = [
    "start",
    "computer_library",
    "connected_library",
    "firstCombo",
    "welcome",
    "ai",
    "level_2",
    "level_2_more",
    "mvp1",
    "hello"
]
---
<GameLayout title="game index!"
            description="game view index">

<ul>
{urls.map(url => <li><a href=`/game/${url}` class="link" target="_blank">{url}</a></li>)}
</ul>

</GameLayout>