---
import GameLayout from "../../layouts/GameLayout.astro";
import NarationImgLeft from "../../components/narationImgLeft.astro";
import Key from '../../img/game/key_book.jpg';

---

<GameLayout title="Enter The library - Level 5"
            description="GAME Datapond - Enter the library - level 5">

    <div class="row  center">
        <div class="page-width">

            <NarationImgLeft img={Key} alt="birds">

                <h4 class="text-warning">This page is missing. It is under construction</h4>

                <h2>Where next ?</h2>


                <div class="row center q-pa-sm q-mt-md">
                    <a href="/study" class="outline col-md-10 col-12 text-h4 text-accent">Go to my Study room</a>
                </div>
            </NarationImgLeft>


        </div>
    </div>
    <script>
        import {getUrlParams} from "../../js/utils";

        const params = getUrlParams();
        if (params.from) {
            document.querySelector('a').setAttribute('href', params.from)
        }

    </script>

</GameLayout>