---
import GameLayout from "../../layouts/GameLayout.astro";
import Library from '../../img/game/library_alley1.png';
import Clock from '../../img/game/superclock.png';
import WelcomeBird from '../../img/game/welcomingBird.png';
import BlueGem from '../../img/game/bluegem_key.jpg';
import NarationImgLeft from "../../components/narationImgLeft.astro";
import NarationImgRight from "../../components/narationImgRight.astro";
---

<GameLayout title="Enter The library - Level 3"
            description="GAME Datapond - Enter the library - level 3">

    <div class="row center">
        <div class="page-width">
                    
            <NarationImgLeft img={Library}  alt="generated with gencraft ">
                <div class="row">
                <h5 class="text-bold text-accent">Location:</h5>
                <h5 class="indie">The Permaculture alley</h5>
                </div>
            </NarationImgLeft>
            <hr class="q-my-md" />
            <NarationImgRight img={Clock}  alt="generated with gencraft">
                <h5 class="text-bold text-accent">Author: Bill Mollison !</h5>
                <h5 class="indie">Bill Mollison is one of the precursor of the permaculture movement.</h5>
                <h5 class="indie"> His teaching in landscape design for food production has reached millions of followers across the globe.</h5>
            </NarationImgRight>
            <hr class="q-my-md" />
            <NarationImgLeft img={WelcomeBird}  alt="generated with gencraft - l_3c_more">

                <h5 class="text-bold text-accent indie">
                     Find and report Bill Mollison's books
                </h5>
                <h5 class="indie">
                    Although his books are considered to be some of the best education material, they are copyrighted.
                </h5>
                <h5 class="indie">
                    You can find them in the <strong>Permaculture corner</strong> of the <strong>Farm forest, land & Water alley</strong>.
                </h5>

            </NarationImgLeft>
            <hr class="q-my-md" />


            <NarationImgRight img={BlueGem}  alt="generated with gencraft - l_3e_more">


                <h5 class="indie">
                    This information should help you reach level 4 and become an <span class="text-h5 text-uppercase text-primary">apprentice</span>.
                </h5>

                <div class="row center">
                    <a href="/topicIndex" class="text-h3 outline text-accent q-mt-lg">
                        Find & Report those books
                    </a>
                </div>

            </NarationImgRight>

        </div>

        <script>
            import {getUrlParams} from "../../js/utils";

            const params  = getUrlParams();
            if (params.from) {
                document.querySelector('a').setAttribute('href', params.from)
            }
        </script>
    </div>
        
</GameLayout>