---
import GameLayout from "../../layouts/GameLayout.astro";
import Bird from '../../img/game/cassowary2.png';
import Tablet from '../../img/game/tablet1.png';
import NarationImgLeft from "../../components/narationImgLeft.astro";
import NarationImgRight from "../../components/narationImgRight.astro";
---

<GameLayout title="Enter The library - Level 2"
            description="GAME Datapond - Enter the library - level 2">
    <div class="row center window-height window-width">
        <div class="col-md-10 col-12 ">
            <NarationImgLeft img={Bird} alt="l_2a">
                <h3>You are now Level 2</h3>

                <p>
                    Explore
                </p>
            </NarationImgLeft>
            
            <NarationImgRight img={Tablet}  alt="l_2b">
                <div class="text-accent indie-flower-regular">
                    The bird hands to you a small tablet, just a tiny bit bigger than a bank card, with a shiny heavy feel to it.
                </div>
            </NarationImgRight>
            
            <div class="row center q-pa-md">

                <a class="col-md-3 col-12 text-center outline text-h1" href="/game/level_2_more">
                    Take It
                </a>
            </div>

        </div>
    </div>
    <script>
        import {ApplyAllUrlParamsToLinks} from "../../js/utils";

        ApplyAllUrlParamsToLinks();
    </script>
</GameLayout>