---
import GameLayout from "../../layouts/GameLayout.astro";
import Library from '../../img/game/library_alley1.png';
import Clock from '../../img/game/superclock.png';
import WelcomeBird from '../../img/game/welcomingBird.png';
import WelcomeBird2 from '../../img/game/firstComboBird.png';
import BlueGem from '../../img/game/bluegem_key.jpg';
import NarationImgLeft from "../../components/narationImgLeft.astro";
import NarationImgRight from "../../components/narationImgRight.astro";
---

<GameLayout title="Enter The library - Level 3"
            description="GAME Datapond - Enter the library - level 3">

    <div class="row center">
        <div class="page-width">
            <NarationImgRight img={Clock}  alt="generated with gencraft - l_3b_more">
                <h6 class="text-bold text-accent">You are now Level 3</h6>
                <p class="text-body">Next Level, you will get a Free Apprentice Key.</p>
            </NarationImgRight>

            <hr class="q-my-md" />

            <NarationImgLeft img={WelcomeBird}  alt="generated with gencraft - l_3c_more">

                <h6 class="indie">
                     Classify 3 book titles
                </h6>
                <p class="text-body">
                    A book title can either be CORRECT, INCORRECT, or NOT VISIBLE.
                </p>
                <p class="text-body">

                </p>
            </NarationImgLeft>

            <hr class="q-my-md" />

            <NarationImgRight img={WelcomeBird2}  alt="generated with gencraft - l_3d_more">
                <h5 class="indie">Your book cover view is upgraded !</h5>
                <p>Start clicking on new books</p>
                <div>
                    <a href="/topicIndex">Explore new books</a>
                </div>
            </NarationImgRight>
        </div>
    </div>
        
</GameLayout>