---
import GameLayout from "../../layouts/GameLayout.astro";
import Garden1 from '../../img/game/garden1.png';
import Garden2 from '../../img/game/garden2.png';
import Garden3 from '../../img/game/garden3.png';
import Pyramid from '../../img/game/pyramid9.png';
import Lyrebird2 from '../../img/game/lyrebird2.png'
import NarationImgLeft from "../../components/narationImgLeft.astro";
import NarationImgRight from "../../components/narationImgRight.astro";
---
<GameLayout title="Enter The library - Level 4"
            description="GAME Datapond - Enter the library - level 3">
    <div class="row center">
        <div class="page-width">
            <NarationImgLeft img={Garden1} >
                <h6 class="text-bold text-accent">Location:</h6>
                <h6 class="indie text-h1">The Food garden</h6>
            </NarationImgLeft>
            <NarationImgRight img={Garden3} >
                <h6 class="text-bold text-accent">Am I dreaming? </h6>
                <h6 class="indie"> The luxurious gardens display an abundance of food you have never seen before.</h6>
                <h6 class="indie">Every plant here seem to be growing faster and bigger than usual.</h6>
            </NarationImgRight>
            <NarationImgLeft img={Lyrebird2} >
                <h6 class="text-bold text-accent">The Gardener:</h6>
                <h6 class="indie">Hello there! I am also the great master librarian of the Farm forest and Landscape section of the library</h6>
                <h6 class="indie">And you are?... A student ! Come with me, I will teach you some interesting facts about the library </h6>
            </NarationImgLeft>
            <NarationImgRight img={Pyramid} >
                <h6 class="text-bold text-accent">The Apprentice Key:</h6>
                <h6 class="indie">
                    When discovered, It allows you to share and vote with your library activity. The library is democratically operated.
                </h6>
                <h6 class="indie">
                    It also  gives you access to the book reader interface,  allowing you to download and consult all the books you have selected with unlimitted access forever.
                </h6>
            </NarationImgRight>
            <NarationImgLeft img={Garden2} >
                <h6 class="text-bold text-accent">Many Cycles design:</h6>
                <h6 class="indie">In nature, insects, animals, and plants thrive in several interconnected cycles - which can create abundance when designed properly.</h6>
                <h6 class="indie">Similarly, our library uses donations to build and evolve a product that anyone can use for free.</h6>
                <h6 class="indie">Once you reach level 4, you'll tap into this pool of Apprentice Keys.</h6>
            </NarationImgLeft>
            <div class="row center q-pa-md">
                <a class="col-md-7 col-12 text-center outline text-h1" href="/game/level_3_more">
                    Thank you Prof Lyre!
                </a>
            </div>
        </div>
        <script>
            import {getUrlParams} from "../../js/utils";
            const params  = getUrlParams();
            if (params.from) {
                document.querySelector('a').setAttribute('href', params.from)
            }
        </script>
    </div>

</GameLayout>