---
import GameLayout from "../../layouts/GameLayout.astro";
---

<GameLayout title="Enter The library - Level 5"
            description="GAME Datapond - Enter the library - level 5">

    <div class="row center">
        <div class="page-width">

            <h1>Missing</h1>

            <h2>This page is under construction</h2>

        </div>
    </div>
</GameLayout>
