---
import GameLayout from "../../layouts/GameLayout.astro";
import {Image} from'astro:assets';
import Bird from '../../img/game/superpc2.png';
import BrevoEmail from "../../components/BrevoEmail.astro";
---

<GameLayout title="Enter The library - MVP 1"
            description="GAME Datapond - Enter the library - This is the Minial Viable Product V1 page">

    <div class="row center window-height window-width">
        <div class="col-md-4 col-sm-9 col-12 ">
            <Image src={Bird} alt="Generated with GenCraft" class="fit"/>
        </div>
        <div class="col-md-8 col-12  q-pa-md">
            <div class="text-h2 indie-flower-regular ">
                Welcome to the MVP 1
            </div>

            <div class="q-my-lg indie-flower-regular text-secondary text-h3">This game is in active development</div>

            <div class="q-my-lg indie-flower-regular text-secondary text-h3">Give feedback on <a href="https://discord.gg/U74HFVEswY" target="_blank" class="link text-h3">discord</a>.</div>

            <BrevoEmail btnTitle="Register" />

            <div class="row q-py-md">
                <a id="back" href="/topicIndex" class="outline q-mt-md col-12 col-md-6 "><h2>Continue playing</h2></a>
            </div>
        </div>
    </div>
    <script>

    </script>
</GameLayout>