---
import GameLayout from "../../layouts/GameLayout.astro";
import {Image} from'astro:assets';
import Bird from '../../img/game/cassowary1.png';
---

<GameLayout title="Guide to the library super computer"
            description="GAME Datapond - Enter the library - Npc for exploring the library super computer">

    <div class="row center window-height window-width">
        <div class="col-lg-3 col-md-4 col-sm-7 col-12 ">
            <Image src={Bird} alt="Generated with GenCraft" class="fit"/>
        </div>
        <div class="col-md-8 col-12  q-pa-md">
            <h1>
                Hey there, lovely visitor!
            </h1>

            <div class="q-my-lg indie-flower-regular text-secondary text-h3">
                We're like one big bird family here in our beloved library. Welcome to our cozy nest!
            </div>
            <div class="row around">
                <a href="/game/ai" class="outline q-mt-md col-11 col-md-5 "><h2>Hello, are you AI?</h2></a>

                <a href="/game/computer_library" class="outline q-mt-md col-11 col-md-5 "><h2 class="text-positive">Is this a Game?</h2></a>

                <button id="skip" class="outline q-mt-md col-12 col-md-8  "><h2 class="text-negative">Leave me alone and skip!</h2></button>
            </div>
        </div>
    </div>

</GameLayout>