
---
import GameLayout from "../../layouts/GameLayout.astro";
import NarationImgLeft from "../../components/narationImgLeft.astro";
import Door from '../../img/game/door1.png'
---

<GameLayout title="The Library - FAQ_Game_start"
            description="GAME Datapond - Enter the library - Game screen FAQ when starting the game">

    <div class="row center window-height" >
        <div class="text-accent  text-center" style="font-size: 3.5rem">Enter The library</div>
    </div>
    <hr />
    <div class="row center" style="height: 75vh">
        <div class="col-12  text-center">
            <div class=" text-center " >
                <strong class="text-white  text-h1 text-bold">D<small class="text-positive">-SAFE</small></strong>
            </div>
            <div class=" text-center q-mb-xl text-h5 q-mb-xl text-positive " >
                children, adults and plants
            </div>
            <div class="text-accent text-warn text-h4" >
                WARNING
            </div>
            <div class="text-h3 text-center">Non Fictional Game</div>
        </div>

    </div>
    <hr />

    <NarationImgLeft img={Door} alt="l_2a">

        <h3>Do you own a key ?</h3>

        <div class="row around">
            <button disabled class="col-md-3 col-5 text-h3 q-py-md text-positive text-center" >
                Yes
            </button>
            <a class="col-md-3 col-5 text-h3 q-py-md text-primary text-center" href="/game/visitor">
                No
            </a>

        </div>
    </NarationImgLeft>

    <hr class="q-mt-xl"/>

</GameLayout>