---
import GameLayout from "../../layouts/GameLayout.astro";
import Page from "../../components/Page.astro";

import {AppReady} from "../../solidApps/common_utils/AppReady";


import {Start as SolidStart} from "../../solidApps/start";
import {Reset} from "../../solidApps/start/Reset";
---

<GameLayout title="The Library - Free Game Ticket" description="This game is in development">

    <div class="row full-screen ">
        <div class="col self-center  ">
            <AppReady client:only="solid-js" minimumLevel={0}>

                <Reset client:only="solid-js">
                    <SolidStart client:only="solid-js"/>
                </Reset>
            </AppReady>
        </div>
    </div>


</GameLayout>