---
import GameLayout from "../../layouts/GameLayout.astro";
import {TronApp} from '../../solidApps/tronVote/index'
import {AppReady} from "../../solidApps/common_utils/AppReady";
import Page from "../../components/Page.astro";
---
<style>
    .vote-box {
        border: 2px solid #ebebeb !important;
    }
    @media screen and (min-width: 760px) {
        .tron-bg:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.15;
            background-image: url('/img/library_club3.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
</style>
<GameLayout title="Tron Setup" description="Setup Tron Wallet">

    <div class="tron-bg center">
        <!--<Page>-->
        <!--    <div class="row center">-->
        <!--        <div class="text-h3 text-accent q-pa-md">-->
        <!--            Page  upgrade in progress-->
        <!--        </div>-->
        <!--        <div class="text-body text-accent q-pa-md">-->
        <!--            The Tron Vote page is getting upgraded with cool new features coming soon-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    <div class="row center">-->
        <!--        <div class="text-h6 text-secondary q-pa-md">-->
        <!--            try again in few hours-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    <div class="row around q-pa-md">-->
        <!--        <div>-->
        <!--        <a href="/study" class="outline  text-h5 indie text-center">My study</a>-->
        <!--        </div>-->
        <!--        <div>-->
        <!--        <a href="/topicIndex" class="outline text-h5 indie text-center">Explore</a>-->
        <!--        </div>-->
        <!--    </div>-->

        <!--</Page>-->


        <Page>
            <AppReady client:only="solid-js" minimumLevel={4}>
                <TronApp client:only="solid-js"/>
            </AppReady>
        </Page>

    </div>
</GameLayout>