---
import GameLayout from "../../layouts/GameLayout.astro";
import Page from "../../components/Page.astro";
import {TronSetup as TS} from '../../solidApps/tronSetup/TronSetup'
import {AppReady} from "../../solidApps/common_utils/AppReady";
---
<style>
    @media screen and (min-width: 760px){
        .tron-bg:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.15;
            background-image: url('/img/library_club3.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
</style>
<GameLayout title="Tron Setup" description="Setup Tron Wallet" >
<div class="tron-bg">
    <Page >
        <AppReady client:only="solid-js" minimumLevel={4}>
            <TS client:only="solid-js" />
        </AppReady>
    </Page>
</div>

</GameLayout>