
---
import GameLayout from "../../layouts/GameLayout.astro";
import Bird from '../../img/game/welcomingBird3.png';
import NarationImgLeft from "../../components/narationImgLeft.astro";
import NarationImgRight from "../../components/narationImgRight.astro";
import Door from '../../img/game/door2.png'
import Page from "../../components/Page.astro";
---

<GameLayout title="The Library - Game start Visitor"
            description="GAME Datapond - Enter the library - Game screen New Visitor key">

<Page tabindex="0">
    <NarationImgLeft img={Door} alt="l_2a">

        <h4>Looking around, you find a door bell</h4>
        <br />
        <h4>Just pressing on it, the door opens</h4>
        <br />

    </NarationImgLeft>

    <NarationImgRight img={Bird}  alt="l_2b">
        <h3 class="text-accent indie">
            Hello new visitor!
        </h3>

        <h4 class="indie">
            I am computer generated hologram. The Library gives me instructions.
        </h4>

        <h4 class="indie">
            Here is a free <small class="text-primary text-uppercase">visitor key</small> key for you.
        </h4>
        <br />
        <h5 class="indie">With this key, you can come here anytime explore the library</h5>


        <div class="row around q-py-xl">
            <a href="/game/visitor_2" class="outline row center col-11 col-md-9 ">
                <div class="text-h2 text-positive indie-flower-regular">Thank you !</div>
            </a>
        </div>

    </NarationImgRight>

</Page>
</GameLayout>