
---
import GameLayout from "../../layouts/GameLayout.astro";
import Bird from '../../img/game/welcomingBird.png';
import Bird2 from '../../img/game/welcomingBird2.png';
import NarationImgLeft from "../../components/narationImgLeft.astro";
import NarationImgRight from "../../components/narationImgRight.astro";
import ApprenticeKey from "../../components/less/ApprenticeKey.astro";
import Page from "../../components/Page.astro";
---

<GameLayout title="The Library - Game start Visitor"
            description="GAME Datapond - Enter the library - Game screen New Visitor key">

    <Page>

    <NarationImgRight img={Bird}  alt="l_2b">

        <div class="text-h3 indie text-accent">
            But Wait !
        </div>
        <br />
        <div class="text-h4 indie">
            You can only visit and look around. You cannot take any book with you yet. For this you will need an <ApprenticeKey />.
        </div>

    </NarationImgRight>

    <hr class="q-my-md"/>
    <NarationImgLeft img={Bird2}  alt="l_2b">

        <div class="text-h4 indie">
            When visiting the library, you might find and win an <ApprenticeKey />.
        </div>
        <br />
        <div class="text-h4 indie">
            This key will unlock the <span class="text-accent">full book access</span>, and also the <span class="text-accent">voting interface.</span>
        </div>
        <div class="row around q-py-xl">
            <a href="/study?help" class="outline row center col-11 col-md-9 ">
                <div class="text-h2 text-positive indie-flower-regular">I Understand !</div>
            </a>
        </div>
    </NarationImgLeft>

    </Page>
</GameLayout>