---
import GameLayout from "../../layouts/GameLayout.astro";
import Bird from '../../img/game/welcomingBird.png';
import NarationImgLeft from "../../components/narationImgLeft.astro";
import ApprenticeKey from "../../components/less/ApprenticeKey.astro";
---

<GameLayout title="The Library - Voting Circle Intro - Post Vote"
            description="GAME Datapond - Enter the library - Game screen for the voting circle">

    <div class="row center">
        <div class="page-width">
            <h1>Congratulations !</h1>
            <NarationImgLeft img={Bird} alt="l_2b">
                <h4 class="text-accent">What you need to know</h4>
                <h5><span id="nb_trash"></span> This voting result is permanently evolving.</h5>
                <h5><span id="nb_keep"></span> This <ApprenticeKey /> is programmed to record your progress and update your vote <span class="text-accent">once a week</span></h5>
                <div class="row center">
                    <a href="/game/level_4_construction" class="outline text-h4 text-negative q-pa-md">Continue</a>
                </div>

            </NarationImgLeft>


            <hr class="q-my-md"/>




            <hr class="q-my-md"/>


        </div>
        <script>


        </script>
    </div>
</GameLayout>