---
import GameLayout from "../../layouts/GameLayout.astro";
import Bird from '../../img/game/welcomingBird.png';
import Bird2 from '../../img/game/welcomingBird2.png';
import BirdCircle from '../../img/game/bird-circle2.png';
import BirdCircle2 from '../../img/game/bird-circle3.png';

import NarationImgLeft from "../../components/narationImgLeft.astro";
import NarationImgRight from "../../components/narationImgRight.astro";

---

<GameLayout title="The Library - Voting Circle Intro"
            description="GAME Datapond - Enter the library - Game screen for the voting circle">

    <div class="row center">
        <div class="page-width">
            <NarationImgLeft img={Bird} alt="l_2b">
                <h4 class="indie text-accent">
                    About Voting !
                </h4>
                <h6 class="indie">
                    We use the concept of <strong class="text-accent indie">action for a vote.</strong>
                </h6>

                <h6 class="indie">
                    Every action you have taken in this building has been recorded and registered.
                </h6>

                <h6 class="indie">
                    This is how The Library calculate your level and qualification
                </h6>

            </NarationImgLeft>

            <hr class="q-my-md"/>
            <NarationImgRight img={Bird2} alt="l_2b">
                <h4 class="indie text-accent">
                    <strong class="text-uppercase text-accent indie">The D-Licence</strong>
                </h4>

                <h6 class="indie">
                    All content published under The D-licence holds all the attributes of a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Licence <strong class="text-accent indie">PLUS</strong> extra requirements.
                </h6>

                <p>
                    - Media content must be stored using <span class="text-accent">permanent decentralized storage</span>.
                </p>
                <p >
                    - <span class="text-accent">No account needed</span> - All access to D-Licenced content is publicly available.
                </p>
                <p >
                    - <span class="text-accent">No In-App purchases</span> - Alternative distributions are not allowed to provide commercial or membership support for D-Licenced content.
                </p>

            </NarationImgRight>
            <hr class="q-my-md"/>

            <NarationImgLeft img={BirdCircle} alt="l_2b">
                <h4 class="indie text-accent">
                    <strong class="text-uppercase text-secondary">D-<small class="text-positive">Safe</small></strong>, children, adults and plants
                </h4>

                <h6 class="indie">
                    Providing, sharing or accessing a <strong class="text-accent indie">safe family space</strong> is important to all of us.
                </h6>

                <h6 class="indie">
                    To respect all communities and families, we have created a library that only distribute non fictional content - and forbids the following topics.
                </h6>
                <p class="text-thin">
                    Ads, Porn, AI, History, Fiction ,Stolen content, Spiritual content, Medicine content, Promoting violence or hatred,Political , Social Media content,  Video, Content related to destruction of bio-diversity, Media
                </p>
            </NarationImgLeft>
            <hr class="q-my-md"/>

            <NarationImgRight img={BirdCircle2} alt="l_2b">
                <h4 class="indie text-accent">
                    <strong class="text-uppercase text-secondary">D-<small class="text-positive">Safe</small></strong> data sharing
                </h4>

                <h6 class="indie">
                    By sharing your actions to the public, you are casting a vote about your personal preferences which reflects your opinions.
                </h6>

                <h6  class="indie">
                    <span class="text-primary">@dataPond</span> holds one Community Licence that allows you to own one permanent <strong class="text-uppercase text-secondary">D-<small class="text-positive">Safe</small></strong> public vote stream.
                </h6>

                <div class="row center q-mt-md ">
                    <a href="/game/vote_step1" class="col-lg-4 col-md-5 col-6 outline text-accent  text-h3">Continue</a>
                </div>

            </NarationImgRight>
            <hr class="q-my-md"/>


        </div>

    </div>
</GameLayout>