---
import GameLayout from "../../layouts/GameLayout.astro";
import {Image} from'astro:assets';
import Bird from '../../img/game/welcomingBird.png';
---

<GameLayout title="Welcome To the library!"
             description="The Game is now starting. you just have entered into the first decentralized cybe library">

    <div class="row center window-height window-width">
        <div class="col-md-4 col-9 ">
            <Image src={Bird} alt="Generated with GenCraft" class="fit"/>
        </div>
        <div class="col-md-8 col-12 q-pa-md">
            <h1>
                Hello Student!
            </h1>
            <h4>I am the Library doorman - and I wish you a great journey inside this magnificent building.</h4>
            <h4>This place is incredible!</h4>

            <h4 class="indie-flower-regular text-primary">First start by exploring your favorite topics </h4>

            <a href="/topicIndex" class="outline q-mt-md "><h2>Enter The Library</h2></a>

        </div>

    </div>

<script>

</script>

</GameLayout>