.Giveth {
  background-color: black;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid black;
  border-radius: 100%;

  &.mobile {
    width: 2.5rem;
    height: 2.5rem;
    @extend .finger;
  }
}

.finger {
  @extend .center;
  @extend .self-center;
  @extend .text-center;
}