
@import "./_color_def.scss";

$primary   : #26F7F7;
$secondary : white;
$accent    : $amber-3;

$dark      : black;
$dark-page : $grey-10;

$white: white;

$purple: #f679ea;

$tron: #fb1414;

$positive  : $green-3;
$negative  : $red-3;
$info      : $purple;
$warning   : $deep-orange-3;

$background: #010412;

$bg-btn: $blue-grey-10;
$bg-btn-hover: $grey-10;

$separator-dark-color: white;
$separator-color: $separator-dark-color;

.text-tron {
  color: $tron !important;
}
.bg-tron {
  background-color: $tron !important;
}
.text-dark {
  color: $dark !important;
}

.bg-dark {
  background: $dark !important
}

.text-primary {
  color:$primary !important
}

.bg-primary {
  background: $bg-btn !important;
  animation: background 0.3s;
  &:hover {
    background: $bg-btn-hover ;
  }
}

.text-secondary {
  color: $secondary !important
}

.bg-secondary {
  background: $secondary !important
}

.text-accent {
  color: $accent !important
}

.bg-accent {
  background: $accent !important
}

.text-positive {
  color: $positive !important
}

.bg-positive {
  background: $positive !important
}

.text-negative {
  color: $negative !important
}

.bg-negative {
  background: $negative !important
}

.text-info {
  color: $info !important
}

.bg-info {
  background: $info !important
}

.text-warning {
  color: $warning !important
}

.bg-warning {
  background: $warning !important
}

.text-white {
  color: $white !important
}

.bg-white {
  background: $white !important
}

.text-black {
  color: $dark !important
}

.bg-black {
  background: $dark !important
}

.bg-blue-grey {
  background: $blue-grey-10 !important;
}

.text-transparent {
  color: transparent !important
}

.bg-transparent {
  background: transparent !important
}

.text-separator {
  color: $separator-color !important
}

.bg-separator {
  background: $separator-color !important
}

.text-dark-separator {
  color: $separator-dark-color !important
}

.bg-dark-separator {
  background: $separator-dark-color !important
}
