@import "./_color_def.scss";
@import "./_colors.scss";
@import "./_fonts.scss";

.indie-flower-regular, .indie {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.blurred {
  filter: blur(3.1px)
}
* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
li {
  list-style: none !important;
}
*, a {
  box-sizing: border-box !important;
}
//html.keyboard *:hover {
//  all:unset!important;
//}

*[tabindex="0"] {
  border: 3px solid transparent;
}
*[tabindex="0"]:focus {
  border: 3px solid orange;
}


button:focus, a:focus {
  border: 3px solid orange !important;
}
strong, u {
  display: contents;
}
body, html {
  font-family: 'Urbanist' ;
  font-weight: normal;
  background: $background;
  @media screen and (min-width: 1980px) {
    font-size: 1.111vw !important;
  }
  @media screen and (min-width: 1440px) and (max-width: 1980px) {
    font-size: 1.111vw !important;
  }
  // ipad air landscape

  @media screen and (min-width: 1024px) and (max-width: 1439.99px) {
    font-size: 1.4vw !important;
    //font-size: 1.1vw !important;
  }
  @media screen and (min-width: 600px) and (max-width: 1023.99px) {
    font-size: 1.888vw !important;
  }
  @media screen and (min-width: 0px) and (max-width: 599.99px) {
    font-size: 4vw !important;
  }
}

body {
  min-width: 100px;
  min-height: 100%;
  font-smoothing: antialiased;
  line-height: 1.5;
}

$h1:        (size: 3rem,     line-height: 3.6rem,     letter-spacing: -.01562em, weight: 300) ;
$h2:        (size: 2.5rem,  line-height: 3rem, letter-spacing: -.01rem, weight: 300) ;
$h3:        (size: 2.2rem,     line-height: 2.6rem, letter-spacing: normal,    weight: 400) ;
$h4:        (size: 1.8rem,     line-height: 2.2rem, letter-spacing: 0.02em,    weight: 400);
$h5:        (size: 1.6rem,     line-height: 2rem, letter-spacing: 0.05em,    weight: 400) ;
$h6:        (size: 1.2rem,     line-height: 1.8rem, letter-spacing: normal,    weight: 400) ;

$subtitle1: (size: 1rem,     line-height: 1.75rem,  letter-spacing: .00937em,  weight: 400) ;
$subtitle2: (size: .875rem,  line-height: 1.375rem, letter-spacing: .00714em,  weight: 500) ;
$body:     (size: 1rem,     line-height: 1.5rem,   letter-spacing: .03125em,  weight: 400) ;
$overline:  (size: .75rem,   line-height: 2rem,     letter-spacing: .16667em,  weight: 500) ;
$caption:   (size: .75rem,   line-height: 1.25rem,  letter-spacing: .03333em,  weight: 400) ;

// sorry for long line; we need .sass and it doesn't support multi-line list
$headings: ('h1': $h1, 'h2': $h2, 'h3': $h3, 'h4': $h4, 'h5': $h5, 'h6': $h6, 'subtitle1': $subtitle1, 'subtitle2': $subtitle2, 'body': $body,  'overline': $overline, 'caption': $caption) !default;
// sorry for long line; we need .sass and it doesn't support multi-line list
$h-tags: (h1: map-get($headings, "h1"), h2: map-get($headings, "h2"), h3: map-get($headings, "h3"), h4: map-get($headings, "h4"), h5: map-get($headings, "h5"), h6: map-get($headings, "h6")) !default;
$text-weights: (thin: 100, light: 300, regular: 400, medium: 500, bold: 700, bolder: 900) !default;



.text- {
  @each $heading, $value in $headings {
    &#{$heading} {
      font-size: map-get($value, "size");
      font-weight: map-get($value, "weight");
      line-height: map-get($value, "line-height");
      letter-spacing: map-get($value, "letter-spacing");
    }
  }
  &uppercase {
    text-transform: uppercase;
  }
  &lowercase {
    text-transform: lowercase;
  }
  &capitalize {
    text-transform: capitalize;
  }
  &center {
    text-align: center;
  }
  &left{
    text-align: left;
  }
  &right {
    text-align: right;
  }
  &justify {
    text-align: justify;
    hyphens: auto;
  }
  &italic {
    font-style: italic;
  }
  &bold {
    font-weight: bold;
  }
  &no-wrap {
    white-space: nowrap;
  }
  &strike {
    text-decoration: line-through;
  }
  @each $weight, $value in $text-weights {
    &weight-#{$weight}{
      font-weight: $value;
    }
  }
}

@each $heading, $value in $h-tags {
  #{$heading} {
    font-size: map-get($value, "size");
    font-weight: map-get($value, "weight");
    line-height: map-get($value, "line-height");
    letter-spacing: map-get($value, "letter-spacing");

    margin-top: 0.5 * map-get($value, "size");
    margin-bottom: 0.25 * map-get($value, "size");
    padding: 0;
    // flex def
    flex: 0 0 auto;
    width: 100%;
    // flex-basis: 100%;

    // end
  }

}

h1, .text-h1 {
  color: $accent;
}

h2 , .text-h2{
  color: $primary;
}
h3 , .text-h3{
  color: $secondary;
}
h4 , .text-h4{
  color: $secondary;
}
h5 , .text-h5{
  color: $secondary;
}
h6 , .text-h6{
  color: $secondary;
}
p {

  color: $secondary;

  // flex def
  flex: 0 0 auto;
  flex-basis: 100%;
  max-width: 100%;
  font-size: 1rem;
  letter-spacing: 0.025vw;
  line-height: 1.888rem;
  // end
}


small {
  font-size: 80%
}

 big{
   font-size: 170%;
 }

#menu-toggle {

  .menu_icon{
    transition: transform 0.3s linear;
    transform: rotate(0deg);
  }


  &.active {
    .menu_icon{
        transform: rotate(90deg);
        transition: transform 0.3s linear;
    }
  }
}

