---
import TopicLayout from '../../layouts/TopicLayout.astro';
import BookList from "../../components/BookList.astro";
import {SubTopics} from "../../solidApps/astro/SubTopics";
import {filterValid,  staticLoadActiveTopicIdsFromUrl, tagIndex, bookIndex} from "../../js/book";

import { type TopicV2} from "@8pond/interfaces";
import {AppReady} from "../../solidApps/common_utils/AppReady";
import {HideLoading} from "../../solidApps/common_utils/HideLoading";
import {DbReady} from "../../solidApps/common_utils/DbReady";
import {LevelCheck} from "../../solidApps/common_utils/LevelCheck";
import {AstroTopic} from "../../solidApps/astro/topic";
import {AstroBooks} from "../../solidApps/astro/bookList";
import {ActionCategory} from "@8pond/interfaces";
import {Tracking} from "../../solidApps/common_components/tracking/tracking";
const activeTags = staticLoadActiveTopicIdsFromUrl(Astro).map((id) => tagIndex[id]);
import {LevelHelp} from "../../solidApps/common_utils/LevelHelp";
const activeTopic = activeTags.pop();
activeTags.push(activeTopic);
const topicName = activeTopic ? activeTopic.name : '';

export async  function getStaticPaths() {
    const topics: TopicV2[] = Object.values(tagIndex);
    const result =  topics.filter((topic: TopicV2)=> topic._id!==1).map((topic, index) => {
        if (typeof topic === 'undefined') {
            throw new Error(`undefined topic at index ${index}`)
        }
        return {
            params: {
                topicId: topic._id,
                topic: topic.name.toLowerCase()
            }
        }
    });
    return result;
}

const { topicId, topic } = Astro.params;

if (activeTags.length>0) {
    if (typeof activeTags[activeTags.length-1] === 'undefined') {
        // console.log('topic: ', topic)
        // console.log(JSON.stringify(activeTags));

        throw new Error('here 2')
    }
}
const title = activeTags.length >0 ? `${activeTags[activeTags.length-1].name}` : 'Enter The Library';
const description= `DataPond - Explore dozens of books on DataPond D-safe Topic Explorer : ${activeTags.map((tag:any) => tag ? tag.name : '').join(' -> ')}`


const books = tagIndex[topicId].has_book.map((id) => bookIndex[id]);
const subTopics = tagIndex[topicId].has_tag.filter(filterValid).map((id)=> tagIndex[id])

---

<TopicLayout title={title} description={description} bannerTitle={topicName}>
    <SubTopics topics={subTopics} client:load />
    <BookList books={books} topic={topicId+''} />
    <HideLoading client:only="solid-js">
        <AppReady client:only="solid-js" minimumLevel={1}>
            <Tracking category={ActionCategory.VisitTopic} topicId={topicId} client:only="solid-js"/>
            <AstroTopic client:only="solid-js"/>
        </AppReady>
    </HideLoading>
</TopicLayout>
<script>
    import {MobileMenu} from "../../js/mobileMenu";

    MobileMenu("mobileMenu", "sidenav", "menu-mobile-toggle")
    // MobileMenu("tabletMenu", "sidenav-tablet", "menu-tablet-toggle");
    // MobileMenu("tabletLandscapeMenu", "sidenav-desktop", "lib-menu-toggle-desktop");
</script>