

#desktopTopMenu, #top-desktop {
  .scroll-container {
    overflow: hidden;
    .scroll-text {
      /* animation properties */
      transform: translateX(100%);
      animation: my-scroll-animation 15s linear infinite;
    }
  }
  .active {
    background: $accent;//$blue-grey-10;
    color: $dark;
    text-decoration: underline;
  }
  animation: all 0.3s;
  > a {
    cursor: wait;
    font-size: 1rem;
    &:hover {
      background: $accent;
      color: $dark;
    }
  }
}